In [3]:
#load gamelog_data
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
from pyquery import PyQuery as pq
from bs4 import BeautifulSoup
import json
import requests
import datetime

def season_subset(df, year_season_start, year_season_end = None):
    df["GAME_DATE"] = pd.to_datetime(df["GAME_DATE"])
    if year_season_end is None:
        year_season_end = year_season_start + 1
    df_gt = df[df.GAME_DATE > datetime.date(year_season_start,9,1)]
    df_lt = df_gt[df_gt.GAME_DATE < datetime.date(year_season_end,9,1)]
    return df_lt.sort_values("GAME_DATE") if not df_lt.empty else None

In [4]:
post85df = pd.read_csv('./gamelogs/master_post86df.csv')
post85df = post85df.drop('VIDEO_AVAILABLE',1)
df85_15 = season_subset(post85df,1985,2015)

by_player = df85_15.groupby("PLAYER_NAME")

In [5]:
df85_15["FANTASY_ZSCORE"] = by_player["FANTASY_PTS"].apply(lambda x: ((x - x.mean())/x.std()))
df85_15["i_ZSCORE_OVER"] = df85_15["FANTASY_ZSCORE"].map(lambda x: 1 if x > 1 else 0)
df85_15["SEASON_MIN"] = by_player['MIN'].apply(lambda x: x.map(lambda y: x.sum()))
df85_15["GAMES_PLAYED"] = by_player["PLAYER_NAME"].apply(lambda x: x.map(lambda y: len(x)))
for x in ['FG_PCT', 'FG3_PCT', 'FT_PCT']:
    df85_15[x] = df85_15[x].map(lambda y: 0 if np.isnan(y) else y)
df85_15["WL"] = [1 if v == "W" else 0 for v in df85_15.copy()["WL"]]

opp_home = df85_15.MATCHUP.map(lambda x: (x[-3:],0) if "@" in x else (x[-3:],1))
df85_15["OPP"] = opp_home.map(lambda x: x[0])
df85_15["i_HOME"] = opp_home.map(lambda x: x[1])

In [7]:
#Add player bio data for age,weight,height
player_bios_df = pd.read_csv("./player_bios/player_bios.csv")
player_bios_df = player_bios_df.rename(columns = {'PERSON_ID': 'PLAYER_ID', 'DISPLAY_FIRST_LAST': 'PLAYER_NAME'})
player_bios_df["BIRTHDATE"] = pd.to_datetime(player_bios_df["BIRTHDATE"])
player_bios_df['AGE'] = player_bios_df["BIRTHDATE"].map(lambda x: round((pd.to_datetime('today') - x).days / 365.,2))
player_bios_df["WEIGHT"] = player_bios_df["WEIGHT"].astype('str')
player_bios_df["HEIGHT"] = player_bios_df["HEIGHT"].astype('str')
player_bios_df["WEIGHT"] = player_bios_df["WEIGHT"].map(lambda x:  float(x) if x != 'nan' else 0.)
player_bios_df["HEIGHT"] = player_bios_df["HEIGHT"].map(lambda x: (12.*float(x[0]) + float(x[2:])) if x != 'nan' else 0.)

by_player = df85_15.groupby("PLAYER_NAME")

In [8]:
def get_player_bio(name, col_name):
    return float(player_bios_df[player_bios_df.PLAYER_NAME == name][col_name])

df85_15["AGE"] = by_player["PLAYER_NAME"].apply(lambda x: x.replace(x.iloc[0],get_player_bio(x.iloc[0],"AGE")))
df85_15["WEIGHT"] = by_player["PLAYER_NAME"].apply(lambda x: x.replace(x.iloc[0],get_player_bio(x.iloc[0],"WEIGHT")))
df85_15["HEIGHT"] = by_player["PLAYER_NAME"].apply(lambda x: x.replace(x.iloc[0],get_player_bio(x.iloc[0],"HEIGHT")))

In [9]:
#Integrate ELO Rankings
elo_df = pd.read_csv("./gamelogs/all_elo.csv")
elo_df["date_game"] = pd.to_datetime(elo_df["date_game"])
elo_df["game_location"] = elo_df["game_location"].map(lambda x: 1 if x == "H" else 0)
elo_df = elo_df[elo_df["is_playoffs"] == 0]

curr = elo_df.columns.tolist()
cols = [curr[i] for i in [5,8,11,13,14,17,19,21]]
elo_df = elo_df[cols]
elo_df = elo_df.rename(columns={'date_game': 'GAME_DATE',
                                'team_id':'TEAM_ABBREVIATION',
                                'opp_id':'OPP', 
                                'game_location': 'i_HOME',
                                'elo_i':'ELO',
                                'opp_elo_i': 'OPP_ELO',
                                'win_equiv': 'EXP_WINS',
                                'forecast':'FORECAST'})

df85_15 = df85_15.merge(season_subset(elo_df,1985,2015))

In [10]:
#Rearrange some columns in df85_15
curr = df85_15.columns.tolist()
cols = curr[:3] + curr[32:37] + curr[3:9] + curr[37:] + curr[9:32]
if len(curr) == len(cols):
    df85_15 = df85_15[cols]


name_pos = player_bios_df[["PLAYER_ID","POSITION","PLAYER_NAME"]]
df85_15 = df85_15.merge(name_pos)
df85_15.columns.tolist()

['SEASON_ID',
 'PLAYER_ID',
 'PLAYER_NAME',
 'SEASON_MIN',
 'GAMES_PLAYED',
 'OPP',
 'i_HOME',
 'AGE',
 'TEAM_ABBREVIATION',
 'TEAM_NAME',
 'GAME_ID',
 'GAME_DATE',
 'MATCHUP',
 'WL',
 'WEIGHT',
 'HEIGHT',
 'ELO',
 'EXP_WINS',
 'OPP_ELO',
 'FORECAST',
 'MIN',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'PLUS_MINUS',
 'FANTASY_PTS',
 'FANTASY_ZSCORE',
 'i_ZSCORE_OVER',
 'POSITION']

In [11]:
def calc_season_avg(df,col_list,(date_str1,date_str2)):
    date1, date2 = pd.to_datetime(date_str1), pd.to_datetime(date_str2)
    mask = lambda x: (date1 <= x) & (x <= date2)
    return df[df.GAME_DATE.apply(mask)].groupby(["PLAYER_NAME","SEASON_ID"])[col_list].mean().reset_index()

In [12]:
def ngames_colname(col_list, ngames):
    return map(lambda x: str(ngames) + 'D_' + x, col_list)

In [13]:
def last_ngames(df,ngames,game_date,col_list):
    ngames_df = df[df.GAME_DATE < game_date].nlargest(ngames, "GAME_DATE")
    ngames_col_list = ngames_colname(col_list,ngames)
    num_cols = len(ngames_col_list)
    date_player_tuples = [("GAME_DATE",game_date)]#,("PLAYER_NAME",df.PLAYER_NAME.iloc[0])]
    if ngames_df.empty:
        return dict(date_player_tuples + zip(ngames_col_list,np.array(0).repeat(num_cols)))
    else:
        return dict(date_player_tuples + zip(ngames_col_list,ngames_df[col_list].mean()))

In [14]:
def calc_ngame_avg(df,col_list,game_date_str,ngames):
    game_date = pd.to_datetime(game_date_str)
    season_id = df[df.GAME_DATE == game_date]["SEASON_ID"].iloc[0]
    return last_ngames(df[df.SEASON_ID == season_id],ngames,game_date,col_list)

In [15]:
def rolling_cols(df,col_list,ngames,rolling_kind):
    if rolling_kind == 'mean':
        rolling_func = lambda (a,b,c): pd.rolling_mean(a,b,min_periods = c)
    elif rolling_kind == 'sum':
        rolling_func = lambda (a,b,c): pd.rolling_sum(a,b,min_periods = c)
    else:
        return None 
    
    rolling_df = (df.groupby(["PLAYER_NAME","SEASON_ID"])
                    .apply(lambda x: add_game_date_pts_col(rolling_func((x[col_list],ngames,1)),x.GAME_DATE,x.FANTASY_PTS).reset_index(drop = True)))
    return rolling_df.reset_index().drop('level_2',axis = 1).rename(columns=dict(zip(col_list,map(lambda x: 'R_' + x,col_list))))

In [16]:
def add_game_date_pts_col(df,game_date_col,fantasy_pts_col):
   df["GAME_DATE"] = game_date_col
   df["FANTASY_PTS"] = fantasy_pts_col
   return df

In [17]:
def per_season_cumsum(df,col_list):
    cumsum_df = (df.groupby(["PLAYER_NAME","SEASON_ID"])
                   .apply(lambda x: add_game_date_col(x[col_list].cumsum(axis = 0), x.GAME_DATE).reset_index(drop = True)))
    return cumsum_df.reset_index().drop('level_2',axis = 1).rename(columns=dict(zip(col_list,map(lambda x: 'C_' + x,col_list))))

In [ ]:
def get_player_seasons(player_name, season1,season2,full_df):
    player_df = (full_df[full_df.PLAYER_NAME == player_name].groupby(["PLAYER_NAME","SEASON_ID"])
                                .apply(lambda x: pd.DataFrame(map(lambda y: calc_ngame_avg(x.sort_values("GAME_DATE"),["AST","REB","PTS","TOV","STL","BLK"],y,3),x.GAME_DATE)))).reset_index().drop('level_2',axis = 1)
    player_df = pd.merge(player_df,full_df[full_df.PLAYER_NAME == player_name][["GAME_DATE","FANTASY_PTS","OPP_ELO"]])
    player_df['SHIT'] = player_df['OPP_ELO'].map(lambda x: 1 if x < 1400 else 0)
    player_df['OKAY'] = player_df['OPP_ELO'].map(lambda x: 1 if 1400 <= x < 1600 else 0)
    player_df['GOOD'] = player_df['OPP_ELO'].map(lambda x: 1 if 1600 <= x < 1700 else 0)
    player_df['GREAT'] = player_df['OPP_ELO'].map(lambda x: 1 if 1700 <= x else 0)
    player_df2 = player_df.set_index('GAME_DATE')
    fantasy_resp = player_df2.groupby('SEASON_ID').apply(lambda x: x['FANTASY_PTS'].map(lambda y: 1 if y > x.FANTASY_PTS.mean() else 0)).reset_index().rename(columns={'FANTASY_PTS':'FANTASY_RESP'})
    player_df2 = pd.merge(player_df2,fantasy_resp)
    fst_season = season1 + 20000
    lst_season = season2 + 20000
    player_df_final = player_df2[(player_df2.SEASON_ID <= lst_season) & (player_df2.SEASON_ID >= fst_season)].sort_values('SEASON_ID')
    return (player_df_final, np.array(player_df_final.SEASON_ID < lst_season))

In [19]:
df,mask = get_player_seasons("Roy Hibbert",2010,2013,df85_15)

In [18]:
df.head()
from sklearn.cross_validation import train_test_split
#train_test_split(xrange(df.shape[0]), train_size=0.7)
mask.shape,mask.sum()

dftouse = df.copy()

STANDARDIZABLE = map(lambda x: '3D_' + x,["AST","REB","PTS","TOV","STL","BLK"])
from sklearn.preprocessing import StandardScaler
for col in STANDARDIZABLE:
    print col
    valstrain=df[col].values[mask]
    valstest=df[col].values[~mask]
    scaler=StandardScaler().fit(valstrain)
    outtrain=scaler.transform(valstrain)
    outtest=scaler.fit_transform(valstest)
    out=np.empty(mask.shape[0])
    out[mask]=outtrain
    out[~mask]=outtest
    dftouse[col]=out

lcols = STANDARDIZABLE + ["SHIT","OKAY","GOOD","GREAT"]

from sklearn import svm 
clfsvm = svm.SVC(kernel = 'rbf')
cs=[.01,.1,1,10,100]
gammas = range(0,101,5)
Xmatrix=dftouse[lcols].values
Yresp=dftouse['FANTASY_RESP'].values 
Xmatrix_train=Xmatrix[mask]
Xmatrix_test=Xmatrix[~mask]
Yresp_train=Yresp[mask]
Yresp_test=Yresp[~mask]
df[~mask].tail()

#your code here
from sklearn.grid_search import GridSearchCV
gs=GridSearchCV(clfsvm, param_grid={'C':cs,'gamma':gammas}, cv=5)
gs.fit(Xmatrix_train, Yresp_train)
print "BEST", gs.best_params_, gs.best_score_, gs.grid_scores_

#calculate the accuracy here, bullshit
best = gs.best_estimator_
best.fit(Xmatrix_train, Yresp_train)
best.score(Xmatrix_test, Yresp_test)

In [1]:
%connect_info

{
  "stdin_port": 60004,
  "ip": "127.0.0.1",
  "control_port": 60005,
  "hb_port": 60006,
  "signature_scheme": "hmac-sha256",
  "key": "d7660fc6-07ba-4d56-8208-6423a8f5d32c",
  "shell_port": 60002,
  "transport": "tcp",
  "iopub_port": 60003
}

Paste the above JSON into a file, and connect with:
    $> ipython <app> --existing <file>
or, if you are local, you can connect with just:
    $> ipython <app> --existing kernel-4ec4fa67-160b-41f4-98eb-9dbda4ca7dda.json
or even just:
    $> ipython <app> --existing
if this is the most recent IPython session you have started.

In [20]:
df

       PLAYER_NAME  SEASON_ID    3D_AST    3D_BLK   3D_OPP_ELO     3D_PTS    3D_REB    3D_STL    3D_TOV  FANTASY_PTS  GAME_DATE  FANTASY_RESP
10865  Roy Hibbert      22010  0.000000  0.000000     0.000000   0.000000  0.000000  0.000000  0.000000        48.25 2010-10-27             1
15032  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-03-08             0
15031  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-03-05             1
15030  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-03-04             0
15029  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-03-02             1
15028  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-03-01             1
15027  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-02-25             1
15026  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-02-23             0
15025  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-02-22             1
15024  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-02-16             1
15033  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-03-09             0
15023  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-02-15             1
15021  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-02-11             0
15020  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-02-09             1
15019  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-02-08             1
15018  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-02-06             0
15017  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-02-04             0
15016  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-02-02             1
15015  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-01-31             1
15014  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-01-29             0
15013  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-01-28             1
15022  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-02-12             1
15012  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-01-26             0
15034  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-03-11             0
15036  Roy Hibbert      22010  4.000000  1.666667  1515.906233  20.000000  8.000000  0.000000  2.666667        32.50 2011-03-15             1
15056  Roy Hibbert      22010  2.000000  2.666667  1479.027467  21.000000  7.333333  0.333333  2.333333        16.50 2010-11-05             1
15055  Roy Hibbert      22010  2.000000  2.666667  1479.027467  21.000000  7.333333  0.333333  2.333333        16.50 2010-11-03             1
15054  Roy Hibbert      22010  2.000000  2.666667  1479.027467  21.000000  7.333333  0.333333  2.333333        16.50 2010-10-30             1
15053  Roy Hibbert      22010  2.000000  2.666667  1479.027467  21.000000  7.333333  0.333333  2.333333        16.50 2010-10-29             1
15052  Roy Hibbert      22010  2.000000  2.666667  1479.027467  21.000000  7.333333  0.333333  2.333333        16.50 2010-10-27             1
...            ...        ...       ...       ...          ...        ...       ...       ...       ...          ...        ...           ...
28530  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-03-02             0
28529  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-03-01             0
28528  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-02-27             1
28527  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-02-25             1
28526  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-02-22             0
28525  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-02-19             0
28533  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-03-07             0
28566  Roy Hibbert      22013  1.000000  1.333333  1572.492167   7.000000  4.000000  0.333333  0.333333        42.50 2013-11-27             1
28544  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-03-28             0
28546  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-03-31             0
28564  Roy Hibbert      22013  1.000000  1.333333  1572.492167   7.000000  4.000000  0.333333  0.333333        42.50 2013-11-23             1
28563  Roy Hibbert      22013  1.000000  1.333333  1572.492167   7.000000  4.000000  0.333333  0.333333        42.50 2013-11-22             0
28562  Roy Hibbert      22013  1.000000  1.333333  1572.492167   7.000000  4.000000  0.333333  0.333333        42.50 2013-11-20             0
28561  Roy Hibbert      22013  1.000000  1.333333  1572.492167   7.000000  4.000000  0.333333  0.333333        42.50 2013-11-16             1
28560  Roy Hibbert      22013  1.000000  1.333333  1572.492167   7.000000  4.000000  0.333333  0.333333        42.50 2013-11-15             1
28559  Roy Hibbert      22013  1.000000  1.333333  1572.492167   7.000000  4.000000  0.333333  0.333333        42.50 2013-11-11             0
28558  Roy Hibbert      22013  1.000000  1.333333  1572.492167   7.000000  4.000000  0.333333  0.333333        42.50 2013-11-08             1
28557  Roy Hibbert      22013  1.000000  1.333333  1572.492167   7.000000  4.000000  0.333333  0.333333        42.50 2013-11-06             1
28545  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-03-30             0
28556  Roy Hibbert      22013  1.000000  1.333333  1572.492167   7.000000  4.000000  0.333333  0.333333        42.50 2013-11-05             1
28554  Roy Hibbert      22013  1.000000  1.333333  1572.492167   7.000000  4.000000  0.333333  0.333333        42.50 2013-10-30             0
28553  Roy Hibbert      22013  1.000000  1.333333  1572.492167   7.000000  4.000000  0.333333  0.333333        42.50 2013-10-29             1
28552  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-04-16             0
28551  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-04-13             0
28550  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-04-11             0
28549  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-04-06             0
28548  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-04-04             0
28547  Roy Hibbert      22013  0.666667  2.000000  1503.723867  10.000000  5.666667  0.333333  1.333333        23.50 2014-04-02             0
28555  Roy Hibbert      22013  1.000000  1.333333  1572.492167   7.000000  4.000000  0.333333  0.333333        42.50 2013-11-02             0
32302  Roy Hibbert      22013  0.666667  1.000000  1584.924100   1.666667  2.333333  0.333333  1.000000        14.75 2014-04-16             0

[21438 rows x 12 columns]