In [3]:
#load gamelog_data
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
from pyquery import PyQuery as pq
from bs4 import BeautifulSoup
import json
import requests
import datetime

def season_subset(df, year_season_start, year_season_end = None):
    df["GAME_DATE"] = pd.to_datetime(df["GAME_DATE"])
    if year_season_end is None:
        year_season_end = year_season_start + 1
    df_gt = df[df.GAME_DATE > datetime.date(year_season_start,9,1)]
    df_lt = df_gt[df_gt.GAME_DATE < datetime.date(year_season_end,9,1)]
    return df_lt.sort_values("GAME_DATE") if not df_lt.empty else None

In [4]:
post85df = pd.read_csv('./gamelogs/master_post86df.csv')
post85df = post85df.drop('VIDEO_AVAILABLE',1)
df85_15 = season_subset(post85df,1985,2015)

by_player = df85_15.groupby("PLAYER_NAME")

In [5]:
df85_15["FANTASY_ZSCORE"] = by_player["FANTASY_PTS"].apply(lambda x: ((x - x.mean())/x.std()))
df85_15["i_ZSCORE_OVER"] = df85_15["FANTASY_ZSCORE"].map(lambda x: 1 if x > 1 else 0)
df85_15["SEASON_MIN"] = by_player['MIN'].apply(lambda x: x.map(lambda y: x.sum()))
df85_15["GAMES_PLAYED"] = by_player["PLAYER_NAME"].apply(lambda x: x.map(lambda y: len(x)))
for x in ['FG_PCT', 'FG3_PCT', 'FT_PCT']:
    df85_15[x] = df85_15[x].map(lambda y: 0 if np.isnan(y) else y)
df85_15["WL"] = [1 if v == "W" else 0 for v in df85_15.copy()["WL"]]

opp_home = df85_15.MATCHUP.map(lambda x: (x[-3:],0) if "@" in x else (x[-3:],1))
df85_15["OPP"] = opp_home.map(lambda x: x[0])
df85_15["i_HOME"] = opp_home.map(lambda x: x[1])

In [7]:
#Add player bio data for age,weight,height
player_bios_df = pd.read_csv("./player_bios/player_bios.csv")
player_bios_df = player_bios_df.rename(columns = {'PERSON_ID': 'PLAYER_ID', 'DISPLAY_FIRST_LAST': 'PLAYER_NAME'})
player_bios_df["BIRTHDATE"] = pd.to_datetime(player_bios_df["BIRTHDATE"])
player_bios_df['AGE'] = player_bios_df["BIRTHDATE"].map(lambda x: round((pd.to_datetime('today') - x).days / 365.,2))
player_bios_df["WEIGHT"] = player_bios_df["WEIGHT"].astype('str')
player_bios_df["HEIGHT"] = player_bios_df["HEIGHT"].astype('str')
player_bios_df["WEIGHT"] = player_bios_df["WEIGHT"].map(lambda x:  float(x) if x != 'nan' else 0.)
player_bios_df["HEIGHT"] = player_bios_df["HEIGHT"].map(lambda x: (12.*float(x[0]) + float(x[2:])) if x != 'nan' else 0.)

by_player = df85_15.groupby("PLAYER_NAME")

In [8]:
def get_player_bio(name, col_name):
    return float(player_bios_df[player_bios_df.PLAYER_NAME == name][col_name])

df85_15["AGE"] = by_player["PLAYER_NAME"].apply(lambda x: x.replace(x.iloc[0],get_player_bio(x.iloc[0],"AGE")))
df85_15["WEIGHT"] = by_player["PLAYER_NAME"].apply(lambda x: x.replace(x.iloc[0],get_player_bio(x.iloc[0],"WEIGHT")))
df85_15["HEIGHT"] = by_player["PLAYER_NAME"].apply(lambda x: x.replace(x.iloc[0],get_player_bio(x.iloc[0],"HEIGHT")))

In [9]:
#Integrate ELO Rankings
elo_df = pd.read_csv("./gamelogs/all_elo.csv")
elo_df["date_game"] = pd.to_datetime(elo_df["date_game"])
elo_df["game_location"] = elo_df["game_location"].map(lambda x: 1 if x == "H" else 0)
elo_df = elo_df[elo_df["is_playoffs"] == 0]

curr = elo_df.columns.tolist()
cols = [curr[i] for i in [5,8,11,13,14,17,19,21]]
elo_df = elo_df[cols]
elo_df = elo_df.rename(columns={'date_game': 'GAME_DATE',
                                'team_id':'TEAM_ABBREVIATION',
                                'opp_id':'OPP', 
                                'game_location': 'i_HOME',
                                'elo_i':'ELO',
                                'opp_elo_i': 'OPP_ELO',
                                'win_equiv': 'EXP_WINS',
                                'forecast':'FORECAST'})

df85_15 = df85_15.merge(season_subset(elo_df,1985,2015))

In [10]:
#Rearrange some columns in df85_15
curr = df85_15.columns.tolist()
cols = curr[:3] + curr[32:37] + curr[3:9] + curr[37:] + curr[9:32]
if len(curr) == len(cols):
    df85_15 = df85_15[cols]


name_pos = player_bios_df[["PLAYER_ID","POSITION","PLAYER_NAME"]]
df85_15 = df85_15.merge(name_pos)
df85_15.columns.tolist()

['SEASON_ID',
 'PLAYER_ID',
 'PLAYER_NAME',
 'SEASON_MIN',
 'GAMES_PLAYED',
 'OPP',
 'i_HOME',
 'AGE',
 'TEAM_ABBREVIATION',
 'TEAM_NAME',
 'GAME_ID',
 'GAME_DATE',
 'MATCHUP',
 'WL',
 'WEIGHT',
 'HEIGHT',
 'ELO',
 'EXP_WINS',
 'OPP_ELO',
 'FORECAST',
 'MIN',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'PLUS_MINUS',
 'FANTASY_PTS',
 'FANTASY_ZSCORE',
 'i_ZSCORE_OVER',
 'POSITION']

In [11]:
def calc_season_avg(df,col_list,(date_str1,date_str2)):
    date1, date2 = pd.to_datetime(date_str1), pd.to_datetime(date_str2)
    mask = lambda x: (date1 <= x) & (x <= date2)
    return df[df.GAME_DATE.apply(mask)].groupby(["PLAYER_NAME","SEASON_ID"])[col_list].mean().reset_index()

In [12]:
def ngames_colname(col_list, ngames):
    return map(lambda x: str(ngames) + 'D_' + x, col_list)

In [13]:
def last_ngames(df,ngames,game_date,col_list):
    ngames_df = df[df.GAME_DATE < game_date].nlargest(ngames, "GAME_DATE")
    ngames_col_list = ngames_colname(col_list,ngames)
    num_cols = len(ngames_col_list)
    date_player_tuples = [("GAME_DATE",game_date)]#,("PLAYER_NAME",df.PLAYER_NAME.iloc[0])]
    if ngames_df.empty:
        return dict(date_player_tuples + zip(ngames_col_list,np.array(0).repeat(num_cols)))
    else:
        return dict(date_player_tuples + zip(ngames_col_list,ngames_df[col_list].mean()))

In [14]:
def calc_ngame_avg(df,col_list,game_date_str,ngames):
    game_date = pd.to_datetime(game_date_str)
    season_id = df[df.GAME_DATE == game_date]["SEASON_ID"].iloc[0]
    return last_ngames(df[df.SEASON_ID == season_id],ngames,game_date,col_list)

In [15]:
def rolling_cols(df,col_list,ngames,rolling_kind):
    if rolling_kind == 'mean':
        rolling_func = lambda (a,b,c): pd.rolling_mean(a,b,min_periods = c)
    elif rolling_kind == 'sum':
        rolling_func = lambda (a,b,c): pd.rolling_sum(a,b,min_periods = c)
    else:
        return None 
    
    rolling_df = (df.groupby(["PLAYER_NAME","SEASON_ID"])
                    .apply(lambda x: add_game_date_pts_col(rolling_func((x[col_list],ngames,1)),x.GAME_DATE,x.FANTASY_PTS).reset_index(drop = True)))
    return rolling_df.reset_index().drop('level_2',axis = 1).rename(columns=dict(zip(col_list,map(lambda x: 'R_' + x,col_list))))

In [137]:
def add_game_date_pts_col(df,game_date_col,fantasy_pts_col):
   new_df = pd.concat([df,game_date_col], axis = 1)
   return new_df

In [17]:
def per_season_cumsum(df,col_list):
    cumsum_df = (df.groupby(["PLAYER_NAME","SEASON_ID"])
                   .apply(lambda x: add_game_date_col(x[col_list].cumsum(axis = 0), x.GAME_DATE).reset_index(drop = True)))
    return cumsum_df.reset_index().drop('level_2',axis = 1).rename(columns=dict(zip(col_list,map(lambda x: 'C_' + x,col_list))))

In [138]:
def per_season_cummean(df,col_list):
    cumsum_df = (df.groupby(["PLAYER_NAME","SEASON_ID"])
                   .apply(lambda x: add_game_date_pts_col(pd.expanding_mean(x[col_list], min_periods = 2), x.GAME_DATE, x.FANTASY_PTS).reset_index(drop = True)))
    return cumsum_df.reset_index().drop('level_2',axis = 1).rename(columns=dict(zip(col_list,map(lambda x: 'C_' + x,col_list))))

In [21]:
def get_player_seasons(player_name, season1,season2,full_df):
    player_df = (full_df[full_df.PLAYER_NAME == player_name].groupby(["PLAYER_NAME","SEASON_ID"])
                                .apply(lambda x: pd.DataFrame(map(lambda y: calc_ngame_avg(x.sort_values("GAME_DATE"),["AST","REB","PTS","TOV","STL","BLK"],y,3),x.GAME_DATE)))).reset_index().drop('level_2',axis = 1)
    player_df = pd.merge(player_df,full_df[full_df.PLAYER_NAME == player_name][["GAME_DATE","FANTASY_PTS","OPP_ELO"]])
    player_df['SHIT'] = player_df['OPP_ELO'].map(lambda x: 1 if x < 1400 else 0)
    player_df['OKAY'] = player_df['OPP_ELO'].map(lambda x: 1 if 1400 <= x < 1600 else 0)
    player_df['GOOD'] = player_df['OPP_ELO'].map(lambda x: 1 if 1600 <= x < 1700 else 0)
    player_df['GREAT'] = player_df['OPP_ELO'].map(lambda x: 1 if 1700 <= x else 0)
    player_df2 = player_df.set_index('GAME_DATE')
    fantasy_resp = player_df2.groupby('SEASON_ID').apply(lambda x: x['FANTASY_PTS'].map(lambda y: 1 if y > x.FANTASY_PTS.mean() else 0)).reset_index().rename(columns={'FANTASY_PTS':'FANTASY_RESP'})
    player_df2 = pd.merge(player_df2,fantasy_resp)
    fst_season = season1 + 20000
    lst_season = season2 + 20000
    player_df_final = player_df2[(player_df2.SEASON_ID <= lst_season) & (player_df2.SEASON_ID >= fst_season)].sort_values('SEASON_ID')
    return (player_df_final, np.array(player_df_final.SEASON_ID < lst_season))

In [23]:
df,mask = get_player_seasons("Roy Hibbert",2010,2013,df85_15)

In [18]:
df.head()
from sklearn.cross_validation import train_test_split
#train_test_split(xrange(df.shape[0]), train_size=0.7)
mask.shape,mask.sum()

dftouse = df.copy()

STANDARDIZABLE = map(lambda x: '3D_' + x,["AST","REB","PTS","TOV","STL","BLK"])
from sklearn.preprocessing import StandardScaler
for col in STANDARDIZABLE:
    print col
    valstrain=df[col].values[mask]
    valstest=df[col].values[~mask]
    scaler=StandardScaler().fit(valstrain)
    outtrain=scaler.transform(valstrain)
    outtest=scaler.fit_transform(valstest)
    out=np.empty(mask.shape[0])
    out[mask]=outtrain
    out[~mask]=outtest
    dftouse[col]=out

lcols = STANDARDIZABLE + ["SHIT","OKAY","GOOD","GREAT"]

from sklearn import svm 
clfsvm = svm.SVC(kernel = 'rbf')
cs=[.01,.1,1,10,100]
gammas = range(0,101,5)
Xmatrix=dftouse[lcols].values
Yresp=dftouse['FANTASY_RESP'].values 
Xmatrix_train=Xmatrix[mask]
Xmatrix_test=Xmatrix[~mask]
Yresp_train=Yresp[mask]
Yresp_test=Yresp[~mask]
df[~mask].tail()

#your code here
from sklearn.grid_search import GridSearchCV
gs=GridSearchCV(clfsvm, param_grid={'C':cs,'gamma':gammas}, cv=5)
gs.fit(Xmatrix_train, Yresp_train)
print "BEST", gs.best_params_, gs.best_score_, gs.grid_scores_

#calculate the accuracy here, bullshit
best = gs.best_estimator_
best.fit(Xmatrix_train, Yresp_train)
best.score(Xmatrix_test, Yresp_test)

In [1]:
%connect_info

{
  "stdin_port": 60004,
  "ip": "127.0.0.1",
  "control_port": 60005,
  "hb_port": 60006,
  "signature_scheme": "hmac-sha256",
  "key": "d7660fc6-07ba-4d56-8208-6423a8f5d32c",
  "shell_port": 60002,
  "transport": "tcp",
  "iopub_port": 60003
}

Paste the above JSON into a file, and connect with:
    $> ipython <app> --existing <file>
or, if you are local, you can connect with just:
    $> ipython <app> --existing kernel-4ec4fa67-160b-41f4-98eb-9dbda4ca7dda.json
or even just:
    $> ipython <app> --existing
if this is the most recent IPython session you have started.

In [24]:
df

       PLAYER_NAME  SEASON_ID    3D_AST    3D_BLK     3D_PTS    3D_REB    3D_STL    3D_TOV  FANTASY_PTS    OPP_ELO  SHIT  OKAY  GOOD  GREAT  GAME_DATE  FANTASY_RESP
10865  Roy Hibbert      22010  0.000000  0.000000   0.000000  0.000000  0.000000  0.000000        48.25  1594.2832     0     1     0      0 2010-10-27             1
15032  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-08             0
15031  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-05             1
15030  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-04             0
15029  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-02             1
15028  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-01             1
15027  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-25             1
15026  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-23             0
15025  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-22             1
15024  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-16             1
15033  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-09             0
15023  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-15             1
15021  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-11             0
15020  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-09             1
15019  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-08             1
15018  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-06             0
15017  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-04             0
15016  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-02             1
15015  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-01-31             1
15014  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-01-29             0
15013  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-01-28             1
15022  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-12             1
15012  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-01-26             0
15034  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-11             0
15036  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-15             1
15056  Roy Hibbert      22010  2.000000  2.666667  21.000000  7.333333  0.333333  2.333333        16.50  1399.8575     1     0     0      0 2010-11-05             1
15055  Roy Hibbert      22010  2.000000  2.666667  21.000000  7.333333  0.333333  2.333333        16.50  1399.8575     1     0     0      0 2010-11-03             1
15054  Roy Hibbert      22010  2.000000  2.666667  21.000000  7.333333  0.333333  2.333333        16.50  1399.8575     1     0     0      0 2010-10-30             1
15053  Roy Hibbert      22010  2.000000  2.666667  21.000000  7.333333  0.333333  2.333333        16.50  1399.8575     1     0     0      0 2010-10-29             1
15052  Roy Hibbert      22010  2.000000  2.666667  21.000000  7.333333  0.333333  2.333333        16.50  1399.8575     1     0     0      0 2010-10-27             1
...            ...        ...       ...       ...        ...       ...       ...       ...          ...        ...   ...   ...   ...    ...        ...           ...
28530  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-03-02             0
28529  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-03-01             0
28528  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-02-27             1
28527  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-02-25             1
28526  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-02-22             0
28525  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-02-19             0
28533  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-03-07             0
28566  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-27             1
28544  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-03-28             0
28546  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-03-31             0
28564  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-23             1
28563  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-22             0
28562  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-20             0
28561  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-16             1
28560  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-15             1
28559  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-11             0
28558  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-08             1
28557  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-06             1
28545  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-03-30             0
28556  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-05             1
28554  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-10-30             0
28553  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-10-29             1
28552  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-04-16             0
28551  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-04-13             0
28550  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-04-11             0
28549  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-04-06             0
28548  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-04-04             0
28547  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-04-02             0
28555  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-02             0
32302  Roy Hibbert      22013  0.666667  1.000000   1.666667  2.333333  0.333333  1.000000        14.75  1319.5913     1     0     0      0 2014-04-16             0

[21438 rows x 16 columns]

In [27]:
from scipy

Object `scipy.sigmoid` not found.

In [131]:
test = per_season_cummean(df85_15,['FANTASY_PTS'])

In [59]:
pd.expanding_mean(pd.Series([1,2,3,4,5,6,7]), min_periods = 3)

0    NaN
1    NaN
2    2.0
3    2.5
4    3.0
5    3.5
6    4.0
dtype: float64

In [130]:
green = df85_15[df85_15.PLAYER_NAME == "A.C. Green"]
add_game_date_pts_col(pd.expanding_mean(df85_15[df85_15.PLAYER_NAME == "A.C. Green"]['FANTASY_PTS']), green.GAME_DATE, green.FANTASY_PTS)

       FANTASY_PTS  GAME_DATE
45841    42.500000 1985-10-29
45842    27.625000 1985-11-05
45843    26.500000 1985-11-08
45844    21.437500 1985-11-14
45845    23.950000 1985-11-15
45846    23.833333 1985-11-17
45847    23.142857 1985-11-20
45848    22.593750 1985-11-21
45849    22.027778 1985-11-23
45850    20.325000 1985-11-29
45851    19.136364 1985-12-01
45852    19.020833 1985-12-06
45853    19.615385 1985-12-08
45854    19.875000 1985-12-13
45855    19.316667 1985-12-15
45856    18.593750 1985-12-17
45857    18.323529 1985-12-18
45858    17.361111 1985-12-20
45859    17.381579 1985-12-28
45860    16.650000 1986-01-08
45861    16.809524 1986-01-10
45862    16.306818 1986-01-11
45863    16.913043 1986-01-16
45864    16.802083 1986-01-19
45865    16.540000 1986-01-20
45866    16.615385 1986-01-22
45867    16.740741 1986-01-24
45868    16.687500 1986-01-25
45869    16.189655 1986-01-28
45870    16.700000 1986-01-30
...            ...        ...
46607    22.422099 2001-02-15
46608    22.408529 2001-02-17
46609    22.404421 2001-02-20
46610    22.382792 2001-02-24
46611    22.374189 2001-02-27
46612    22.345207 2001-02-28
46613    22.343144 2001-03-02
46614    22.332041 2001-03-04
46615    22.311290 2001-03-05
46616    22.300258 2001-03-07
46617    22.285714 2001-03-09
46618    22.267995 2001-03-11
46619    22.254172 2001-03-12
46620    22.228846 2001-03-14
46621    22.223752 2001-03-17
46622    22.213235 2001-03-21
46623    22.194764 2001-03-25
46624    22.170599 2001-03-27
46625    22.142357 2001-03-29
46626    22.115776 2001-03-31
46627    22.098158 2001-04-03
46628    22.081218 2001-04-04
46629    22.056401 2001-04-06
46630    22.033544 2001-04-08
46631    22.008850 2001-04-10
46632    21.982955 2001-04-11
46633    21.960908 2001-04-13
46634    21.944584 2001-04-15
46635    21.921698 2001-04-17
46636    21.953204 2001-04-18

[796 rows x 2 columns]

In [133]:
;

''

In [136]:
test[test.PLAYER_NAME == 'A.C. Green'][test.SEASON_ID == 21985]

//anaconda/lib/python2.7/site-packages/pandas/core/frame.py:1997: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

   PLAYER_NAME  SEASON_ID  C_FANTASY_PTS  GAME_DATE
0   A.C. Green      21985            NaN 1985-10-29
1   A.C. Green      21985      27.625000 1985-11-05
2   A.C. Green      21985      26.500000 1985-11-08
3   A.C. Green      21985      21.437500 1985-11-14
4   A.C. Green      21985      23.950000 1985-11-15
5   A.C. Green      21985      23.833333 1985-11-17
6   A.C. Green      21985      23.142857 1985-11-20
7   A.C. Green      21985      22.593750 1985-11-21
8   A.C. Green      21985      22.027778 1985-11-23
9   A.C. Green      21985      20.325000 1985-11-29
10  A.C. Green      21985      19.136364 1985-12-01
11  A.C. Green      21985      19.020833 1985-12-06
12  A.C. Green      21985      19.615385 1985-12-08
13  A.C. Green      21985      19.875000 1985-12-13
14  A.C. Green      21985      19.316667 1985-12-15
15  A.C. Green      21985      18.593750 1985-12-17
16  A.C. Green      21985      18.323529 1985-12-18
17  A.C. Green      21985      17.361111 1985-12-20
18  A.C. Green      21985      17.381579 1985-12-28
19  A.C. Green      21985      16.650000 1986-01-08
20  A.C. Green      21985      16.809524 1986-01-10
21  A.C. Green      21985      16.306818 1986-01-11
22  A.C. Green      21985      16.913043 1986-01-16
23  A.C. Green      21985      16.802083 1986-01-19
24  A.C. Green      21985      16.540000 1986-01-20
25  A.C. Green      21985      16.615385 1986-01-22
26  A.C. Green      21985      16.740741 1986-01-24
27  A.C. Green      21985      16.687500 1986-01-25
28  A.C. Green      21985      16.189655 1986-01-28
29  A.C. Green      21985      16.700000 1986-01-30
30  A.C. Green      21985      16.620968 1986-02-02
31  A.C. Green      21985      16.179688 1986-02-04
32  A.C. Green      21985      15.825758 1986-02-06
33  A.C. Green      21985      15.654412 1986-02-14
34  A.C. Green      21985      15.242857 1986-02-16
35  A.C. Green      21985      15.222222 1986-02-19
36  A.C. Green      21985      15.331081 1986-02-21
37  A.C. Green      21985      15.223684 1986-02-24
38  A.C. Green      21985      15.211538 1986-02-26
39  A.C. Green      21985      14.950000 1986-03-08
40  A.C. Green      21985      14.829268 1986-03-09
41  A.C. Green      21985      15.172619 1986-03-11
42  A.C. Green      21985      15.366279 1986-03-13
43  A.C. Green      21985      15.380682 1986-03-16
44  A.C. Green      21985      15.555556 1986-03-18
45  A.C. Green      21985      15.505435 1986-03-19
46  A.C. Green      21985      15.244681 1986-03-22
47  A.C. Green      21985      15.156250 1986-03-25
48  A.C. Green      21985      14.928571 1986-03-29
49  A.C. Green      21985      14.785000 1986-04-01
50  A.C. Green      21985      14.612745 1986-04-03
51  A.C. Green      21985      14.331731 1986-04-06
52  A.C. Green      21985      14.250000 1986-04-08
53  A.C. Green      21985      14.106481 1986-04-10
54  A.C. Green      21985      14.318182 1986-04-12
55  A.C. Green      21985      14.482143 1986-04-13

In [74]:
cumsum_df.reset_index().drop('level_2', axis = 1).rename(columns=dict(zip(["FANTASY_PTS"],map(lambda x: 'C_' + x,["FANTASY_PTS"]))))

               PLAYER_NAME  SEASON_ID                                      C_FANTASY_PTS
0               A.C. Green      21985                                                NaN
1               A.C. Green      21985                                             27.625
2               A.C. Green      21985                                               26.5
3               A.C. Green      21985                                            21.4375
4               A.C. Green      21985                                              23.95
5               A.C. Green      21985                                            23.8333
6               A.C. Green      21985                                            23.1429
7               A.C. Green      21985                                            22.5938
8               A.C. Green      21985                                            22.0278
9               A.C. Green      21985                                             20.325
10              A.C. Green      21985                                            19.1364
11              A.C. Green      21985                                            19.0208
12              A.C. Green      21985                                            19.6154
13              A.C. Green      21985                                             19.875
14              A.C. Green      21985                                            19.3167
15              A.C. Green      21985                                            18.5938
16              A.C. Green      21985                                            18.3235
17              A.C. Green      21985                                            17.3611
18              A.C. Green      21985                                            17.3816
19              A.C. Green      21985                                              16.65
20              A.C. Green      21985                                            16.8095
21              A.C. Green      21985                                            16.3068
22              A.C. Green      21985                                             16.913
23              A.C. Green      21985                                            16.8021
24              A.C. Green      21985                                              16.54
25              A.C. Green      21985                                            16.6154
26              A.C. Green      21985                                            16.7407
27              A.C. Green      21985                                            16.6875
28              A.C. Green      21985                                            16.1897
29              A.C. Green      21985                                               16.7
...                    ...        ...                                                ...
573481  Zydrunas Ilgauskas      22010                                            13.9477
573482  Zydrunas Ilgauskas      22010                                            13.9602
573483  Zydrunas Ilgauskas      22010                                                 14
573484  Zydrunas Ilgauskas      22010                                            14.3696
573485  Zydrunas Ilgauskas      22010                                            14.1064
573486  Zydrunas Ilgauskas      22010                                            14.2031
573487  Zydrunas Ilgauskas      22010                                            14.0867
573488  Zydrunas Ilgauskas      22010                                              13.91
573489  Zydrunas Ilgauskas      22010                                             14.098
573490  Zydrunas Ilgauskas      22010                                            14.1298
573491  Zydrunas Ilgauskas      22010                                            14.1698
573492  Zydrunas Ilgauskas      22010                                                 14
573493  Zydrunas Ilgauskas      22010                                            14.0409
573494  Zydrunas Ilgauskas      22010                                            13.8125
573495  Zydrunas Ilgauskas      22010                                            13.6974
573496  Zydrunas Ilgauskas      22010                                            13.5991
573497  Zydrunas Ilgauskas      22010                                            13.3941
573498  Zydrunas Ilgauskas      22010                                            13.3917
573499  Zydrunas Ilgauskas      22010                                            13.2582
573500  Zydrunas Ilgauskas      22010                                            13.0363
573501  Zydrunas Ilgauskas      22010                                            12.8611
573502  Zydrunas Ilgauskas      22010                                            12.6602
573503  Zydrunas Ilgauskas      22010                                            12.7808
573504  Zydrunas Ilgauskas      22010                                            12.6098
573505  Zydrunas Ilgauskas      22010                                            12.6604
573506  Zydrunas Ilgauskas      22010                                            12.7132
573507  Zydrunas Ilgauskas      22010                                            12.6449
573508  Zydrunas Ilgauskas      22010                                               12.7
573509  Zydrunas Ilgauskas      22010  275503   2010-10-26
275504   2010-10-27
275505...
573510  Zydrunas Ilgauskas      22010  275503    11.75
275504     8.75
275505    16.2...

[573511 rows x 3 columns]