In [5]:
#load gamelog_data
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
from pyquery import PyQuery as pq
from bs4 import BeautifulSoup
import json
import requests
import datetime

def season_subset(df, year_season_start, year_season_end = None):
    df["GAME_DATE"] = pd.to_datetime(df["GAME_DATE"])
    if year_season_end is None:
        year_season_end = year_season_start + 1
    df_gt = df[df.GAME_DATE > datetime.date(year_season_start,9,1)]
    df_lt = df_gt[df_gt.GAME_DATE < datetime.date(year_season_end,9,1)]
    return df_lt.sort_values("GAME_DATE") if not df_lt.empty else None

In [8]:
post85df = pd.read_csv('./gamelogs/master_post86df.csv')
post85df = post85df.drop('VIDEO_AVAILABLE',1)
df85_15 = season_subset(post85df,1985,2015)

by_player = df85_15.groupby("PLAYER_NAME")

In [9]:
df85_15["FANTASY_ZSCORE"] = by_player["FANTASY_PTS"].apply(lambda x: ((x - x.mean())/x.std()))
df85_15["i_ZSCORE_OVER"] = df85_15["FANTASY_ZSCORE"].map(lambda x: 1 if x > 1 else 0)
df85_15["SEASON_MIN"] = by_player['MIN'].apply(lambda x: x.map(lambda y: x.sum()))
df85_15["GAMES_PLAYED"] = by_player["PLAYER_NAME"].apply(lambda x: x.map(lambda y: len(x)))
for x in ['FG_PCT', 'FG3_PCT', 'FT_PCT']:
    df85_15[x] = df85_15[x].map(lambda y: 0 if np.isnan(y) else y)
df85_15["WL"] = [1 if v == "W" else 0 for v in df85_15.copy()["WL"]]

opp_home = df85_15.MATCHUP.map(lambda x: (x[-3:],0) if "@" in x else (x[-3:],1))
df85_15["OPP"] = opp_home.map(lambda x: x[0])
df85_15["i_HOME"] = opp_home.map(lambda x: x[1])

In [10]:
#Add player bio data for age,weight,height
player_bios_df = pd.read_csv("./player_bios/player_bios.csv")
player_bios_df = player_bios_df.rename(columns = {'PERSON_ID': 'PLAYER_ID', 'DISPLAY_FIRST_LAST': 'PLAYER_NAME'})
player_bios_df["BIRTHDATE"] = pd.to_datetime(player_bios_df["BIRTHDATE"])
player_bios_df['AGE'] = player_bios_df["BIRTHDATE"].map(lambda x: round((pd.to_datetime('today') - x).days / 365.,2))
player_bios_df["WEIGHT"] = player_bios_df["WEIGHT"].astype('str')
player_bios_df["HEIGHT"] = player_bios_df["HEIGHT"].astype('str')
player_bios_df["WEIGHT"] = player_bios_df["WEIGHT"].map(lambda x:  float(x) if x != 'nan' else 0.)
player_bios_df["HEIGHT"] = player_bios_df["HEIGHT"].map(lambda x: (12.*float(x[0]) + float(x[2:])) if x != 'nan' else 0.)

by_player = df85_15.groupby("PLAYER_NAME")

In [11]:
def get_player_bio(name, col_name):
    return float(player_bios_df[player_bios_df.PLAYER_NAME == name][col_name])

df85_15["AGE"] = by_player["PLAYER_NAME"].apply(lambda x: x.replace(x.iloc[0],get_player_bio(x.iloc[0],"AGE")))
df85_15["WEIGHT"] = by_player["PLAYER_NAME"].apply(lambda x: x.replace(x.iloc[0],get_player_bio(x.iloc[0],"WEIGHT")))
df85_15["HEIGHT"] = by_player["PLAYER_NAME"].apply(lambda x: x.replace(x.iloc[0],get_player_bio(x.iloc[0],"HEIGHT")))

In [12]:
#Integrate ELO Rankings
elo_df = pd.read_csv("./gamelogs/all_elo.csv")
elo_df["date_game"] = pd.to_datetime(elo_df["date_game"])
elo_df["game_location"] = elo_df["game_location"].map(lambda x: 1 if x == "H" else 0)
elo_df = elo_df[elo_df["is_playoffs"] == 0]

curr = elo_df.columns.tolist()
cols = [curr[i] for i in [5,8,11,13,14,17,19,21]]
elo_df = elo_df[cols]
elo_df = elo_df.rename(columns={'date_game': 'GAME_DATE',
                                'team_id':'TEAM_ABBREVIATION',
                                'opp_id':'OPP', 
                                'game_location': 'i_HOME',
                                'elo_i':'ELO',
                                'opp_elo_i': 'OPP_ELO',
                                'win_equiv': 'EXP_WINS',
                                'forecast':'FORECAST'})

df85_15 = df85_15.merge(season_subset(elo_df,1985,2015))

In [13]:
#Rearrange some columns in df85_15
curr = df85_15.columns.tolist()
cols = curr[:3] + curr[32:37] + curr[3:9] + curr[37:] + curr[9:32]
if len(curr) == len(cols):
    df85_15 = df85_15[cols]


name_pos = player_bios_df[["PLAYER_ID","POSITION","PLAYER_NAME"]]
df85_15 = df85_15.merge(name_pos)
df85_15.columns.tolist()

['SEASON_ID',
 'PLAYER_ID',
 'PLAYER_NAME',
 'SEASON_MIN',
 'GAMES_PLAYED',
 'OPP',
 'i_HOME',
 'AGE',
 'TEAM_ABBREVIATION',
 'TEAM_NAME',
 'GAME_ID',
 'GAME_DATE',
 'MATCHUP',
 'WL',
 'WEIGHT',
 'HEIGHT',
 'ELO',
 'EXP_WINS',
 'OPP_ELO',
 'FORECAST',
 'MIN',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'PLUS_MINUS',
 'FANTASY_PTS',
 'FANTASY_ZSCORE',
 'i_ZSCORE_OVER',
 'POSITION']

In [14]:
def calc_season_avg(df,col_list,(date_str1,date_str2)):
    date1, date2 = pd.to_datetime(date_str1), pd.to_datetime(date_str2)
    mask = lambda x: (date1 <= x) & (x <= date2)
    return df[df.GAME_DATE.apply(mask)].groupby(["PLAYER_NAME","SEASON_ID"])[col_list].mean().reset_index()

In [15]:
def ngames_colname(col_list, ngames):
    return map(lambda x: str(ngames) + 'D_' + x, col_list)

In [16]:
def last_ngames(df,ngames,game_date,col_list):
    ngames_df = df[df.GAME_DATE < game_date].nlargest(ngames, "GAME_DATE")
    ngames_col_list = ngames_colname(col_list,ngames)
    num_cols = len(ngames_col_list)
    date_player_tuples = [("GAME_DATE",game_date)]#,("PLAYER_NAME",df.PLAYER_NAME.iloc[0])]
    if ngames_df.empty:
        return dict(date_player_tuples + zip(ngames_col_list,np.array(0).repeat(num_cols)))
    else:
        return dict(date_player_tuples + zip(ngames_col_list,ngames_df[col_list].mean()))

In [17]:
def calc_ngame_avg(df,col_list,game_date_str,ngames):
    game_date = pd.to_datetime(game_date_str)
    season_id = df[df.GAME_DATE == game_date]["SEASON_ID"].iloc[0]
    return last_ngames(df[df.SEASON_ID == season_id],ngames,game_date,col_list)

In [107]:
def rolling_cols(df,col_list,ngames,rolling_kind):
    if rolling_kind == 'mean':
        rolling_func = lambda (a,b,c): pd.rolling_mean(a,b,min_periods = c)
    elif rolling_kind == 'sum':
        rolling_func = lambda (a,b,c): pd.rolling_sum(a,b,min_periods = c)
    else:
        return None 
    
    rolling_df = (df.groupby(["PLAYER_NAME","SEASON_ID", "OPP"])
                    .apply(lambda x: add_game_date_pts_col(rolling_func((x[col_list],ngames,1)),x.GAME_DATE).reset_index(drop = True)))
    return rolling_df.reset_index().rename(columns=dict(zip(col_list,map(lambda x: 'R_' + x,col_list))))

In [103]:
def add_game_date_pts_col(df,game_date_col):
   new_df = pd.concat([df,game_date_col], axis = 1)
   return new_df

In [20]:
def per_season_cumsum(df,col_list):
    cumsum_df = (df.groupby(["PLAYER_NAME","SEASON_ID"])
                   .apply(lambda x: add_game_date_col(x[col_list].cumsum(axis = 0), x.GAME_DATE).reset_index(drop = True)))
    return cumsum_df.reset_index().drop('level_2',axis = 1).rename(columns=dict(zip(col_list,map(lambda x: 'C_' + x,col_list))))

In [21]:
def per_season_cummean(df,col_list):
    cumsum_df = (df.groupby(["PLAYER_NAME","SEASON_ID"])
                   .apply(lambda x: add_game_date_pts_col(pd.expanding_mean(x[col_list], min_periods = 2), x.GAME_DATE, x.FANTASY_PTS).reset_index(drop = True)))
    return cumsum_df.reset_index().drop('level_2',axis = 1).rename(columns=dict(zip(col_list,map(lambda x: 'C_' + x,col_list))))

In [22]:
def get_player_seasons(player_name, season1,season2,full_df):
    player_df = (full_df[full_df.PLAYER_NAME == player_name].groupby(["PLAYER_NAME","SEASON_ID"])
                                .apply(lambda x: pd.DataFrame(map(lambda y: calc_ngame_avg(x.sort_values("GAME_DATE"),["AST","REB","PTS","TOV","STL","BLK"],y,3),x.GAME_DATE)))).reset_index().drop('level_2',axis = 1)
    player_df = pd.merge(player_df,full_df[full_df.PLAYER_NAME == player_name][["GAME_DATE","FANTASY_PTS","OPP_ELO"]])
    player_df['SHIT'] = player_df['OPP_ELO'].map(lambda x: 1 if x < 1400 else 0)
    player_df['OKAY'] = player_df['OPP_ELO'].map(lambda x: 1 if 1400 <= x < 1600 else 0)
    player_df['GOOD'] = player_df['OPP_ELO'].map(lambda x: 1 if 1600 <= x < 1700 else 0)
    player_df['GREAT'] = player_df['OPP_ELO'].map(lambda x: 1 if 1700 <= x else 0)
    player_df2 = player_df.set_index('GAME_DATE')
    fantasy_resp = player_df2.groupby('SEASON_ID').apply(lambda x: x['FANTASY_PTS'].map(lambda y: 1 if y > x.FANTASY_PTS.mean() else 0)).reset_index().rename(columns={'FANTASY_PTS':'FANTASY_RESP'})
    player_df2 = pd.merge(player_df2,fantasy_resp)
    fst_season = season1 + 20000
    lst_season = season2 + 20000
    player_df_final = player_df2[(player_df2.SEASON_ID <= lst_season) & (player_df2.SEASON_ID >= fst_season)].sort_values('SEASON_ID')
    return (player_df_final, np.array(player_df_final.SEASON_ID < lst_season))

In [23]:
df,mask = get_player_seasons("Roy Hibbert",2010,2013,df85_15)

In [26]:
%connect_info

{
  "stdin_port": 60990,
  "ip": "127.0.0.1",
  "control_port": 60991,
  "hb_port": 60992,
  "signature_scheme": "hmac-sha256",
  "key": "ecc4c8e9-a45a-419c-8f79-6748a03165d8",
  "shell_port": 60988,
  "transport": "tcp",
  "iopub_port": 60989
}

Paste the above JSON into a file, and connect with:
    $> ipython <app> --existing <file>
or, if you are local, you can connect with just:
    $> ipython <app> --existing kernel-0876d50e-7e06-4cbb-bd0c-f4ebf1e5cdbf.json
or even just:
    $> ipython <app> --existing
if this is the most recent IPython session you have started.

In [ ]:
df.head()
#train_test_split(xrange(df.shape[0]), train_size=0.7)
mask.shape,mask.sum()

dftouse = df.copy()

STANDARDIZABLE = map(lambda x: '3D_' + x,["AST","REB","PTS","TOV","STL","BLK"])
from sklearn.preprocessing import StandardScaler
for col in STANDARDIZABLE:
    print col
    valstrain=df[col].values[mask]
    valstest=df[col].values[~mask]
    scaler=StandardScaler().fit(valstrain)
    outtrain=scaler.transform(valstrain)
    outtest=scaler.fit_transform(valstest)
    out=np.empty(mask.shape[0])
    out[mask]=outtrain
    out[~mask]=outtest
    dftouse[col]=out

lcols = STANDARDIZABLE + ["SHIT","OKAY","GOOD","GREAT"]

from sklearn import svm 
clfsvm = svm.SVC(kernel = 'rbf')
cs=[.01,.1,1,10,100]
gammas = range(0,101,5)
Xmatrix=dftouse[lcols].values
Yresp=dftouse['FANTASY_RESP'].values 
Xmatrix_train=Xmatrix[mask]
Xmatrix_test=Xmatrix[~mask]
Yresp_train=Yresp[mask]
Yresp_test=Yresp[~mask]
df[~mask].tail()

#your code here
from sklearn.grid_search import GridSearchCV
gs=GridSearchCV(clfsvm, param_grid={'C':cs,'gamma':gammas}, cv=5)
gs.fit(Xmatrix_train, Yresp_train)
print "BEST", gs.best_params_, gs.best_score_, gs.grid_scores_

#calculate the accuracy here, bullshit
best = gs.best_estimator_
best.fit(Xmatrix_train, Yresp_train)
best.score(Xmatrix_test, Yresp_test)

In [27]:
df

       PLAYER_NAME  SEASON_ID    3D_AST    3D_BLK     3D_PTS    3D_REB    3D_STL    3D_TOV  FANTASY_PTS    OPP_ELO  SHIT  OKAY  GOOD  GREAT  GAME_DATE  FANTASY_RESP
10865  Roy Hibbert      22010  0.000000  0.000000   0.000000  0.000000  0.000000  0.000000        48.25  1594.2832     0     1     0      0 2010-10-27             1
15032  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-08             0
15031  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-05             1
15030  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-04             0
15029  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-02             1
15028  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-01             1
15027  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-25             1
15026  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-23             0
15025  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-22             1
15024  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-16             1
15033  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-09             0
15023  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-15             1
15021  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-11             0
15020  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-09             1
15019  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-08             1
15018  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-06             0
15017  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-04             0
15016  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-02             1
15015  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-01-31             1
15014  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-01-29             0
15013  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-01-28             1
15022  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-02-12             1
15012  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-01-26             0
15034  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-11             0
15036  Roy Hibbert      22010  4.000000  1.666667  20.000000  8.000000  0.000000  2.666667        32.50  1347.6910     1     0     0      0 2011-03-15             1
15056  Roy Hibbert      22010  2.000000  2.666667  21.000000  7.333333  0.333333  2.333333        16.50  1399.8575     1     0     0      0 2010-11-05             1
15055  Roy Hibbert      22010  2.000000  2.666667  21.000000  7.333333  0.333333  2.333333        16.50  1399.8575     1     0     0      0 2010-11-03             1
15054  Roy Hibbert      22010  2.000000  2.666667  21.000000  7.333333  0.333333  2.333333        16.50  1399.8575     1     0     0      0 2010-10-30             1
15053  Roy Hibbert      22010  2.000000  2.666667  21.000000  7.333333  0.333333  2.333333        16.50  1399.8575     1     0     0      0 2010-10-29             1
15052  Roy Hibbert      22010  2.000000  2.666667  21.000000  7.333333  0.333333  2.333333        16.50  1399.8575     1     0     0      0 2010-10-27             1
...            ...        ...       ...       ...        ...       ...       ...       ...          ...        ...   ...   ...   ...    ...        ...           ...
28530  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-03-02             0
28529  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-03-01             0
28528  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-02-27             1
28527  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-02-25             1
28526  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-02-22             0
28525  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-02-19             0
28533  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-03-07             0
28566  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-27             1
28544  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-03-28             0
28546  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-03-31             0
28564  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-23             1
28563  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-22             0
28562  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-20             0
28561  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-16             1
28560  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-15             1
28559  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-11             0
28558  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-08             1
28557  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-06             1
28545  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-03-30             0
28556  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-05             1
28554  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-10-30             0
28553  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-10-29             1
28552  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-04-16             0
28551  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-04-13             0
28550  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-04-11             0
28549  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-04-06             0
28548  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-04-04             0
28547  Roy Hibbert      22013  0.666667  2.000000  10.000000  5.666667  0.333333  1.333333        23.50  1587.2833     0     1     0      0 2014-04-02             0
28555  Roy Hibbert      22013  1.000000  1.333333   7.000000  4.000000  0.333333  0.333333        42.50  1475.7131     0     1     0      0 2013-11-02             0
32302  Roy Hibbert      22013  0.666667  1.000000   1.666667  2.333333  0.333333  1.000000        14.75  1319.5913     1     0     0      0 2014-04-16             0

[21438 rows x 16 columns]

In [28]:
from scipy

SyntaxError: invalid syntax (<ipython-input-28-f05e4a76f6f8>, line 1)

In [29]:
test = per_season_cummean(df85_15,['FANTASY_PTS'])

In [30]:
pd.expanding_mean(pd.Series([1,2,3,4,5,6,7]), min_periods = 3)

0    NaN
1    NaN
2    2.0
3    2.5
4    3.0
5    3.5
6    4.0
dtype: float64

In [31]:
green = df85_15[df85_15.PLAYER_NAME == "A.C. Green"]
add_game_date_pts_col(pd.expanding_mean(df85_15[df85_15.PLAYER_NAME == "A.C. Green"]['FANTASY_PTS']), green.GAME_DATE, green.FANTASY_PTS)

       FANTASY_PTS  GAME_DATE
45841    42.500000 1985-10-29
45842    27.625000 1985-11-05
45843    26.500000 1985-11-08
45844    21.437500 1985-11-14
45845    23.950000 1985-11-15
45846    23.833333 1985-11-17
45847    23.142857 1985-11-20
45848    22.593750 1985-11-21
45849    22.027778 1985-11-23
45850    20.325000 1985-11-29
45851    19.136364 1985-12-01
45852    19.020833 1985-12-06
45853    19.615385 1985-12-08
45854    19.875000 1985-12-13
45855    19.316667 1985-12-15
45856    18.593750 1985-12-17
45857    18.323529 1985-12-18
45858    17.361111 1985-12-20
45859    17.381579 1985-12-28
45860    16.650000 1986-01-08
45861    16.809524 1986-01-10
45862    16.306818 1986-01-11
45863    16.913043 1986-01-16
45864    16.802083 1986-01-19
45865    16.540000 1986-01-20
45866    16.615385 1986-01-22
45867    16.740741 1986-01-24
45868    16.687500 1986-01-25
45869    16.189655 1986-01-28
45870    16.700000 1986-01-30
...            ...        ...
46607    22.422099 2001-02-15
46608    22.408529 2001-02-17
46609    22.404421 2001-02-20
46610    22.382792 2001-02-24
46611    22.374189 2001-02-27
46612    22.345207 2001-02-28
46613    22.343144 2001-03-02
46614    22.332041 2001-03-04
46615    22.311290 2001-03-05
46616    22.300258 2001-03-07
46617    22.285714 2001-03-09
46618    22.267995 2001-03-11
46619    22.254172 2001-03-12
46620    22.228846 2001-03-14
46621    22.223752 2001-03-17
46622    22.213235 2001-03-21
46623    22.194764 2001-03-25
46624    22.170599 2001-03-27
46625    22.142357 2001-03-29
46626    22.115776 2001-03-31
46627    22.098158 2001-04-03
46628    22.081218 2001-04-04
46629    22.056401 2001-04-06
46630    22.033544 2001-04-08
46631    22.008850 2001-04-10
46632    21.982955 2001-04-11
46633    21.960908 2001-04-13
46634    21.944584 2001-04-15
46635    21.921698 2001-04-17
46636    21.953204 2001-04-18

[796 rows x 2 columns]

In [32]:
;

''

In [33]:
test[test.PLAYER_NAME == 'A.C. Green'][test.SEASON_ID == 21985]

/Applications/anaconda/lib/python2.7/site-packages/pandas/core/frame.py:1997: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

   PLAYER_NAME  SEASON_ID  C_FANTASY_PTS  GAME_DATE
0   A.C. Green      21985            NaN 1985-10-29
1   A.C. Green      21985      27.625000 1985-11-05
2   A.C. Green      21985      26.500000 1985-11-08
3   A.C. Green      21985      21.437500 1985-11-14
4   A.C. Green      21985      23.950000 1985-11-15
5   A.C. Green      21985      23.833333 1985-11-17
6   A.C. Green      21985      23.142857 1985-11-20
7   A.C. Green      21985      22.593750 1985-11-21
8   A.C. Green      21985      22.027778 1985-11-23
9   A.C. Green      21985      20.325000 1985-11-29
10  A.C. Green      21985      19.136364 1985-12-01
11  A.C. Green      21985      19.020833 1985-12-06
12  A.C. Green      21985      19.615385 1985-12-08
13  A.C. Green      21985      19.875000 1985-12-13
14  A.C. Green      21985      19.316667 1985-12-15
15  A.C. Green      21985      18.593750 1985-12-17
16  A.C. Green      21985      18.323529 1985-12-18
17  A.C. Green      21985      17.361111 1985-12-20
18  A.C. Green      21985      17.381579 1985-12-28
19  A.C. Green      21985      16.650000 1986-01-08
20  A.C. Green      21985      16.809524 1986-01-10
21  A.C. Green      21985      16.306818 1986-01-11
22  A.C. Green      21985      16.913043 1986-01-16
23  A.C. Green      21985      16.802083 1986-01-19
24  A.C. Green      21985      16.540000 1986-01-20
25  A.C. Green      21985      16.615385 1986-01-22
26  A.C. Green      21985      16.740741 1986-01-24
27  A.C. Green      21985      16.687500 1986-01-25
28  A.C. Green      21985      16.189655 1986-01-28
29  A.C. Green      21985      16.700000 1986-01-30
30  A.C. Green      21985      16.620968 1986-02-02
31  A.C. Green      21985      16.179688 1986-02-04
32  A.C. Green      21985      15.825758 1986-02-06
33  A.C. Green      21985      15.654412 1986-02-14
34  A.C. Green      21985      15.242857 1986-02-16
35  A.C. Green      21985      15.222222 1986-02-19
36  A.C. Green      21985      15.331081 1986-02-21
37  A.C. Green      21985      15.223684 1986-02-24
38  A.C. Green      21985      15.211538 1986-02-26
39  A.C. Green      21985      14.950000 1986-03-08
40  A.C. Green      21985      14.829268 1986-03-09
41  A.C. Green      21985      15.172619 1986-03-11
42  A.C. Green      21985      15.366279 1986-03-13
43  A.C. Green      21985      15.380682 1986-03-16
44  A.C. Green      21985      15.555556 1986-03-18
45  A.C. Green      21985      15.505435 1986-03-19
46  A.C. Green      21985      15.244681 1986-03-22
47  A.C. Green      21985      15.156250 1986-03-25
48  A.C. Green      21985      14.928571 1986-03-29
49  A.C. Green      21985      14.785000 1986-04-01
50  A.C. Green      21985      14.612745 1986-04-03
51  A.C. Green      21985      14.331731 1986-04-06
52  A.C. Green      21985      14.250000 1986-04-08
53  A.C. Green      21985      14.106481 1986-04-10
54  A.C. Green      21985      14.318182 1986-04-12
55  A.C. Green      21985      14.482143 1986-04-13

In [35]:
cumsum_df.reset_index().drop('level_2', axis = 1).rename(columns=dict(zip(["FANTASY_PTS"],map(lambda x: 'C_' + x,["FANTASY_PTS"]))))

NameError: name 'cumsum_df' is not defined

In [60]:
df85_15.groupby(["PLAYER_NAME", 'OPP']).apply(lambda x: x.FANTASY_PTS).reset_index().drop('level_2', axis =1)

               PLAYER_NAME  OPP  FANTASY_PTS
0               A.C. Green  ATL        10.00
1               A.C. Green  ATL        11.25
2               A.C. Green  ATL        30.25
3               A.C. Green  ATL        27.75
4               A.C. Green  ATL        25.50
5               A.C. Green  ATL        31.25
6               A.C. Green  ATL        36.75
7               A.C. Green  ATL        35.50
8               A.C. Green  ATL        33.25
9               A.C. Green  ATL        18.00
10              A.C. Green  ATL        45.00
11              A.C. Green  ATL        20.50
12              A.C. Green  ATL        42.75
13              A.C. Green  ATL        34.25
14              A.C. Green  ATL        30.50
15              A.C. Green  ATL        38.75
16              A.C. Green  ATL        13.75
17              A.C. Green  ATL        15.50
18              A.C. Green  ATL         9.50
19              A.C. Green  ATL        14.50
20              A.C. Green  ATL        20.50
21              A.C. Green  ATL        20.75
22              A.C. Green  ATL        22.00
23              A.C. Green  ATL        16.75
24              A.C. Green  ATL         2.00
25              A.C. Green  BOS        18.50
26              A.C. Green  BOS         1.25
27              A.C. Green  BOS        21.75
28              A.C. Green  BOS        16.50
29              A.C. Green  BOS        24.25
...                    ...  ...          ...
550679  Zydrunas Ilgauskas  WAS        42.00
550680  Zydrunas Ilgauskas  WAS        32.25
550681  Zydrunas Ilgauskas  WAS        37.25
550682  Zydrunas Ilgauskas  WAS        13.25
550683  Zydrunas Ilgauskas  WAS        27.75
550684  Zydrunas Ilgauskas  WAS        26.75
550685  Zydrunas Ilgauskas  WAS        42.75
550686  Zydrunas Ilgauskas  WAS        37.50
550687  Zydrunas Ilgauskas  WAS        19.00
550688  Zydrunas Ilgauskas  WAS        11.75
550689  Zydrunas Ilgauskas  WAS        20.25
550690  Zydrunas Ilgauskas  WAS        20.25
550691  Zydrunas Ilgauskas  WAS        44.25
550692  Zydrunas Ilgauskas  WAS        23.25
550693  Zydrunas Ilgauskas  WAS        15.25
550694  Zydrunas Ilgauskas  WAS        28.00
550695  Zydrunas Ilgauskas  WAS        28.50
550696  Zydrunas Ilgauskas  WAS        26.50
550697  Zydrunas Ilgauskas  WAS        43.50
550698  Zydrunas Ilgauskas  WAS        23.00
550699  Zydrunas Ilgauskas  WAS        22.25
550700  Zydrunas Ilgauskas  WAS        24.00
550701  Zydrunas Ilgauskas  WAS        27.25
550702  Zydrunas Ilgauskas  WAS        10.00
550703  Zydrunas Ilgauskas  WAS        26.25
550704  Zydrunas Ilgauskas  WAS        21.50
550705  Zydrunas Ilgauskas  WAS        13.00
550706  Zydrunas Ilgauskas  WAS        12.50
550707  Zydrunas Ilgauskas  WAS        16.25
550708  Zydrunas Ilgauskas  WAS         2.00

[550709 rows x 3 columns]

In [86]:
df85_15

        SEASON_ID  PLAYER_ID       PLAYER_NAME  SEASON_MIN  GAMES_PLAYED  OPP  i_HOME    AGE TEAM_ABBREVIATION               TEAM_NAME   GAME_ID  GAME_DATE      MATCHUP  WL  WEIGHT  HEIGHT        ELO   EXP_WINS    OPP_ELO  FORECAST  MIN  FGM  FGA  FG_PCT  FG3M  FG3A  FG3_PCT  FTM  FTA  FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS  PLUS_MINUS  FANTASY_PTS  FANTASY_ZSCORE  i_ZSCORE_OVER POSITION
0           21985      77377  Cliff Levingston       12289           613  MIL       0  54.95               ATL           Atlanta Hawks  28500013 1985-10-26    ATL @ MIL   0     210      80  1464.5355  36.319843  1604.5205  0.200774   30    1    3   0.333     0     0    0.000    0    0   0.000     3     6    9    0    2    1    1   6    2         NaN        18.75        0.233651              0  Forward
1           21985      77377  Cliff Levingston       12289           613  NYK       1  54.95               ATL           Atlanta Hawks  28500030 1985-10-29  ATL vs. NYK   1     210      80  1457.8932  36.926842  1367.5015  0.749507   32    0    3   0.000     0     0    0.000    5    8   0.625     5     5   10    3    0    1    1   1    5         NaN        23.50        0.684053              0  Forward
2           21985      77377  Cliff Levingston       12289           613  BOS       0  54.95               ATL           Atlanta Hawks  28500045 1985-11-01    ATL @ BOS   0     210      80  1463.7467  36.750767  1646.1967  0.164391   22    4    6   0.667     0     0    0.000    3    4   0.750     2     2    4    1    0    0    0   4   11         NaN        17.50        0.115124              0  Forward
3           21985      77377  Cliff Levingston       12289           613  DEN       0  54.95               ATL           Atlanta Hawks  28500060 1985-11-05    ATL @ DEN   0     210      80  1466.6379  36.760952  1608.5680  0.198983   22    5    6   0.833     0     0    0.000    2    2   1.000     2     2    4    1    0    0    2   3   12         NaN        17.50        0.115124              0  Forward
4           21985      77377  Cliff Levingston       12289           613  LAC       0  54.95               ATL           Atlanta Hawks  28500085 1985-11-09    ATL @ LAC   1     210      80  1461.4900  37.467758  1447.4091  0.378813   28    9   14   0.643     0     0    0.000    2    3   0.667     5     6   11    1    2    1    3   4   20         NaN        39.75        2.224904              1  Forward
5           21985      77377  Cliff Levingston       12289           613  DET       1  54.95               ATL           Atlanta Hawks  28500117 1985-11-15  ATL vs. DET   1     210      80  1472.4945  38.467503  1560.0360  0.517922   34    8   13   0.615     0     0    0.000    5    8   0.625     3     7   10    1    1    2    3   1   21         NaN        39.50        2.201198              1  Forward
6           21985      77377  Cliff Levingston       12289           613  NYK       0  54.95               ATL           Atlanta Hawks  28500119 1985-11-16    ATL @ NYK   0     210      80  1478.5320  37.480686  1345.5177  0.547369   37    7   12   0.583     0     0    0.000    3    5   0.600     1     3    4    2    1    2    1   3   17         NaN        30.50        1.347804              1  Forward
7           21985      77377  Cliff Levingston       12289           613  CHI       1  54.95               ATL           Atlanta Hawks  28500141 1985-11-20  ATL vs. CHI   1     210      80  1469.0724  38.252716  1426.9819  0.693799   36    6   16   0.375     0     0    0.000    1    2   0.500     7    10   17    3    2    1    2   3   13         NaN        43.75        2.604190              1  Forward
8           21985      77377  Cliff Levingston       12289           613  CLE       0  54.95               ATL           Atlanta Hawks  28500166 1985-11-24    ATL @ CLE   0     210      80  1463.7317  36.418217  1510.2817  0.300775   36    6   13   0.462     0     0    0.000    5    8   0.625     5     6   11    3    3    1    4   4   17         NaN        41.25        2.367136              1  Forward
9           21985      77377  Cliff Levingston       12289           613  NYK       1  54.95               ATL           Atlanta Hawks  28500175 1985-11-26  ATL vs. NYK   1     210      80  1458.8431  36.849419  1352.2932  0.766562   24    5    7   0.714     0     0    0.000    2    2   1.000     3     4    7    1    0    0    1   6   12         NaN        21.75        0.518116              0  Forward
10          21985      77377  Cliff Levingston       12289           613  MIL       0  54.95               ATL           Atlanta Hawks  28500180 1985-11-27    ATL @ MIL   0     210      80  1463.0011  36.482605  1671.5774  0.144760   22    1    5   0.200     0     0    0.000    1    2   0.500     3     1    4    0    0    1    3   3    3         NaN         8.50       -0.738270              0  Forward
11          21985      77377  Cliff Levingston       12289           613  NJN       0  54.95               ATL           Atlanta Hawks  28500195 1985-11-29    ATL @ NJN   0     210      80  1459.4646  35.918243  1511.0573  0.294706   15    0    1   0.000     0     0    0.000    0    0   0.000     0     1    1    0    1    0    2   3    0         NaN         2.25       -1.330905              0  Forward
12          21985      77377  Cliff Levingston       12289           613  BOS       1  54.95               ATL           Atlanta Hawks  28500200 1985-11-30  ATL vs. BOS   0     210      80  1454.0095  35.516018  1694.4857  0.308179   35    4    8   0.500     0     0    0.000    4    4   1.000     2     3    5    1    0    0    0   0   12         NaN        19.75        0.328472              0  Forward
13          21985      77377  Cliff Levingston       12289           613  POR       1  54.95               ATL           Atlanta Hawks  28500227 1985-12-04  ATL vs. POR   1     210      80  1450.1102  36.558235  1526.7601  0.533553   23    6    9   0.667     0     0    0.000    1    2   0.500     4     3    7    0    1    0    6   4   13         NaN        20.75        0.423294              0  Forward
14          21985      77377  Cliff Levingston       12289           613  MIL       1  54.95               ATL           Atlanta Hawks  28500236 1985-12-06  ATL vs. MIL   1     210      80  1460.1943  37.149616  1664.5483  0.354181   27    2    7   0.286     0     0    0.000    1    1   1.000     1     3    4    2    0    0    3   3    5         NaN        11.50       -0.453806              0  Forward
15          21985      77377  Cliff Levingston       12289           613  BOS       0  54.95               ATL           Atlanta Hawks  28500258 1985-12-10    ATL @ BOS   0     210      80  1465.8905  37.003143  1681.8499  0.139577   26    3    3   1.000     0     0    0.000    1    2   0.500     1     3    4    1    0    0    3   3    7         NaN        12.00       -0.406395              0  Forward
16          21985      77377  Cliff Levingston       12289           613  SEA       1  54.95               ATL           Atlanta Hawks  28500264 1985-12-11  ATL vs. SEA   1     210      80  1464.4812  37.666733  1476.4384  0.624060   27    2    2   1.000     0     0    0.000    0    0   0.000     0     5    5    0    1    0    3   5    4         NaN        10.75       -0.524922              0  Forward
17          21985      77377  Cliff Levingston       12289           613  IND       0  54.95               ATL           Atlanta Hawks  28500274 1985-12-13    ATL @ IND   0     210      80  1470.8585  36.006027  1377.2153  0.490853   25    6    7   0.857     0     0    0.000    1    2   0.500     3     3    6    3    1    0    2   3   13         NaN        26.00        0.921107              0  Forward
18          21985      77377  Cliff Levingston       12289           613  NJN       1  54.95               ATL           Atlanta Hawks  28500298 1985-12-17  ATL vs. NJN   1     210      80  1461.7898  37.082161  1520.6438  0.558939   22    3    6   0.500     0     0    0.000    0    1   0.000     2     3    5    0    1    0    1   2    6         NaN        13.75       -0.240457              0  Forward
19          21985      77377  Cliff Levingston       12289           613  DAL       1  54.95               ATL           Atlanta Hawks  28500307 1985-12-19  ATL vs. DAL   0     210      80  1465.2416  35.669289  1519.8289  0.564985   33    5    7   0.714     0     0    0.000    1    2   0.500     4     6   10    1    3    1    1   4   11         NaN        32.50        1.537447              1  Forward
20          21985      77377  Cliff Levingston       12289           613  HOU       1  54.95               ATL           Atlanta Hawks  28500322 1985-12-21  ATL vs. HOU   1     210      80  1451.5973  36.069744  1540.4983  0.515967   23    3    8   0.375     0     0    0.000    1    5   0.200     4     2    6    1    1    1    0   4    7         NaN        20.00        0.352178              0  Forward
21          21985      77377  Cliff Levingston       12289           613  DET       1  54.95               ATL           Atlanta Hawks  28500371 1986-01-03  ATL vs. DET   1     210      80  1473.0920  38.614124  1470.6566  0.643288   15    4    9   0.444     0     0    0.000    0    0   0.000     4     5    9    0    0    1    1   3    8         NaN        20.75        0.423294              0  Forward
22          21985      77377  Cliff Levingston       12289           613  CHI       0  54.95               ATL           Atlanta Hawks  28500382 1986-01-04    ATL @ CHI   1     210      80  1479.9348  40.025520  1438.4425  0.416588   12    1    5   0.200     0     0    0.000    0    0   0.000     0     5    5    0    1    0    0   5    2         NaN        10.25       -0.572332              0  Forward
23          21985      77377  Cliff Levingston       12289           613  LAC       1  54.95               ATL           Atlanta Hawks  28500393 1986-01-07  ATL vs. LAC   1     210      80  1493.4141  40.401913  1318.2838  0.829739   22    2    3   0.667     0     0    0.000    2    3   0.667     1     5    6    0    0    1    2   5    6         NaN        14.50       -0.169341              0  Forward
24          21985      77377  Cliff Levingston       12289           613  DET       0  54.95               ATL           Atlanta Hawks  28500403 1986-01-09    ATL @ DET   1     210      80  1497.0037  41.894672  1472.6433  0.392834   20    2    6   0.333     0     0    0.000    2    2   1.000     2     5    7    1    0    0    1   2    6         NaN        15.75       -0.050814              0  Forward
25          21985      77377  Cliff Levingston       12289           613  BOS       0  54.95               ATL           Atlanta Hawks  28500407 1986-01-10    ATL @ BOS   0     210      80  1511.2363  41.615742  1663.1719  0.189962   11    1    2   0.500     0     0    0.000    0    0   0.000     0     4    4    0    0    0    2   3    2         NaN         6.00       -0.975324              0  Forward
26          21985      77377  Cliff Levingston       12289           613  SAC       1  54.95               ATL           Atlanta Hawks  28500432 1986-01-14  ATL vs. SAC   1     210      80  1508.5763  42.102726  1412.1620  0.755959   19    6    9   0.667     0     0    0.000    0    2   0.000     2     2    4    1    1    0    1   0   12         NaN        20.00        0.352178              0  Forward
27          21985      77377  Cliff Levingston       12289           613  CLE       1  54.95               ATL           Atlanta Hawks  28500443 1986-01-16  ATL vs. CLE   1     210      80  1513.2209  43.009087  1486.5156  0.674668   12    0    4   0.000     0     0    0.000    3    6   0.500     0     5    5    0    0    0    0   3    3         NaN         9.25       -0.667154              0  Forward
28          21985      77377  Cliff Levingston       12289           613  BOS       1  54.95               ATL           Atlanta Hawks  28500453 1986-01-18  ATL vs. BOS   0     210      80  1521.8744  42.541195  1679.3295  0.418061   21    6    7   0.857     0     0    0.000    3    3   1.000     2     3    5    0    1    3    1   4   15         NaN        28.75        1.181867              1  Forward
29          21985      77377  Cliff Levingston       12289           613  MIL       1  54.95               ATL           Atlanta Hawks  28500468 1986-01-20  ATL vs. MIL   1     210      80  1517.4054  43.197701  1649.7479  0.453589   25    3    9   0.333     0     0    0.000    5    6   0.833     2     5    7    0    0    0    2   2   11         NaN        18.75        0.233651              0  Forward
...           ...        ...               ...         ...           ...  ...     ...    ...               ...                     ...       ...        ...          ...  ..     ...     ...        ...        ...        ...       ...  ...  ...  ...     ...   ...   ...      ...  ...  ...     ...   ...   ...  ...  ...  ...  ...  ...  ..  ...         ...          ...             ...            ...      ...
550679      22014     204022       Jack Cooley          86            16  HOU       0  24.68               UTA               Utah Jazz  21401219 2015-04-15    UTA @ HOU   0     246      81  1565.0206  46.293358  1629.6312  0.279373   17    3    7   0.429     0     0    0.000    2    5   0.400     3     3    6    0    1    1    0   4    8           9        19.50        3.145272              1  Forward
550680      22014     203968  Jerrelle Benimon           2             2  NYK       1  24.36               UTA               Utah Jazz  21400950 2015-03-10  UTA vs. NYK   1       0       0  1529.4113  43.731186  1266.7943  0.889672    2    0    0   0.000     0     0    0.000    0    0   0.000     1     2    3    0    0    0    1   0    0           6         3.25        0.707107              0      NaN
550681      22014     203968  Jerrelle Benimon           2             2  HOU       1  24.36               UTA               Utah Jazz  21400965 2015-03-12  UTA vs. HOU   1       0       0  1530.6149  45.234890  1616.3575  0.520506    0    0    0   0.000     0     0    0.000    0    0   0.000     0     0    0    0    0    0    0   0    0           0         0.00       -0.707107              0      NaN
550682      22014     203913      Jabari Brown         567            19  NYK       1  22.98               LAL      Los Angeles Lakers  21400966 2015-03-12  LAL vs. NYK   0     214      77  1353.6084  24.588230  1265.5907  0.746932   18    3    6   0.500     0     2    0.000    1    4   0.250     0     2    2    1    0    0    1   1    7          -2        10.50       -0.800861              0    Guard
550683      22014     203913      Jabari Brown         567            19  ATL       1  22.98               LAL      Los Angeles Lakers  21400989 2015-03-15  LAL vs. ATL   0     214      77  1338.8159  24.348671  1651.8879  0.226787   22    4    5   0.800     1     2    0.500    0    0   0.000     0     1    1    0    2    0    1   2    9           6        14.25       -0.435083              0    Guard
550684      22014     203913      Jabari Brown         567            19  GSW       0  22.98               LAL      Los Angeles Lakers  21400999 2015-03-16    LAL @ GSW   0     214      77  1336.0887  24.308487  1723.3567  0.057058   20    2    4   0.500     0     1    0.000    1    1   1.000     0     0    0    1    1    0    2   0    5          -8         7.50       -1.093484              0    Guard
550685      22014     203913      Jabari Brown         567            19  UTA       1  22.98               LAL      Los Angeles Lakers  21401019 2015-03-19  LAL vs. UTA   0     214      77  1335.6298  23.845245  1547.2756  0.344640   20    2    4   0.500     2     2    1.000    1    2   0.500     0     2    2    1    1    0    2   2    7          -4        13.00       -0.557009              0    Guard
550686      22014     203913      Jabari Brown         567            19  PHI       1  22.98               LAL      Los Angeles Lakers  21401047 2015-03-22  LAL vs. PHI   1     214      77  1330.3065  24.541954  1314.4166  0.660857   24    2    6   0.333     1     2    0.500    5    6   0.833     1     0    1    4    0    1    1   1   10           7        19.25        0.052621              0    Guard
550687      22014     203913      Jabari Brown         567            19  OKC       0  22.98               LAL      Los Angeles Lakers  21401056 2015-03-24    LAL @ OKC   0     214      77  1338.2903  24.406441  1625.2217  0.097321   27    3    6   0.500     0     1    0.000    1    1   1.000     0     0    0    1    0    0    0   1    7           4         8.50       -0.995943              0    Guard
550688      22014     203913      Jabari Brown         567            19  MIN       0  22.98               LAL      Los Angeles Lakers  21401067 2015-03-25    LAL @ MIN   1     214      77  1336.7478  25.005156  1339.5403  0.356240   32    3    4   0.750     3     3    1.000    0    0   0.000     0     4    4    3    1    0    1   1    9         -10        21.50        0.272087              0    Guard
550689      22014     203913      Jabari Brown         567            19  TOR       0  22.98               LAL      Los Angeles Lakers  21401080 2015-03-27    LAL @ TOR   0     214      77  1343.5264  24.733370  1519.1178  0.169887   16    2    5   0.400     0     2    0.000    3    4   0.750     0     1    1    0    0    0    3   0    7          -8         6.75       -1.166639              0    Guard
550690      22014     203913      Jabari Brown         567            19  PHI       0  22.98               LAL      Los Angeles Lakers  21401102 2015-03-30    LAL @ PHI   1     214      77  1337.1229  25.010454  1323.9053  0.377644   34    7   10   0.700     3     4    0.750    5    5   1.000     0     0    0    3    1    0    1   2   22           9        29.50        1.052414              1    Guard
550691      22014     203913      Jabari Brown         567            19  NOP       1  22.98               LAL      Los Angeles Lakers  21401123 2015-04-01  LAL vs. NOP   0     214      77  1343.5859  23.854563  1507.8358  0.408577   30    2    8   0.250     1     2    0.500    1    2   0.500     1     0    1    1    0    0    1   1    6         -12         8.75       -0.971558              0    Guard
550692      22014     203913      Jabari Brown         567            19  POR       1  22.98               LAL      Los Angeles Lakers  21401136 2015-04-03  LAL vs. POR   0     214      77  1330.4142  23.002464  1611.6093  0.260563   30    2    9   0.222     1     3    0.333    6    9   0.667     0     3    3    0    0    0    1   2   11         -33        14.75       -0.386313              0    Guard
550693      22014     203913      Jabari Brown         567            19  LAC       1  22.98               LAL      Los Angeles Lakers  21401153 2015-04-05  LAL vs. LAC   0     214      77  1320.4623  22.491585  1687.1991  0.177196   31    4    9   0.444     1     4    0.250    1    2   0.500     0     1    1    1    0    0    2   2   10         -21        12.25       -0.630165              0    Guard
550694      22014     203913      Jabari Brown         567            19  LAC       0  22.98               LAL      Los Angeles Lakers  21401159 2015-04-07    LAL @ LAC   0     214      77  1314.3878  22.440868  1693.2736  0.059710   24    2    5   0.400     1     3    0.333    2    4   0.500     0     2    2    3    0    0    4   3    7          -1        12.50       -0.605780              0    Guard
550695      22014     203913      Jabari Brown         567            19  DEN       0  22.98               LAL      Los Angeles Lakers  21401169 2015-04-08    LAL @ DEN   0     214      77  1313.7802  21.921890  1415.0565  0.238914   34    3   12   0.250     1     4    0.250    4    5   0.800     1     3    4    0    0    0    1   1   11         -25        16.00       -0.264387              0    Guard

In [92]:
merged_df = pd.merge(df85_15,df85_15.groupby(["PLAYER_NAME",'OPP']).apply(lambda x: x.FANTASY_PTS).reset_index())#.rename(columns = {0:"FANTASY_PTS_AGAINST"}), left_on=['PLAYER_NAME','OPP'],right_on=['PLAYER_NAME','OPP'])

In [94]:
testdata = season_subset(merged_df, 2005, 2006)

In [111]:
high_rollers = testdata.groupby(["PLAYER_NAME",'OPP']).apply(lambda x: rolling_cols(x,['FANTASY_PTS'],3,'mean'))

In [123]:
high_rollers

                                 PLAYER_NAME  SEASON_ID  OPP  level_3  R_FANTASY_PTS  GAME_DATE
PLAYER_NAME        OPP
Aaron McKie        ATL 0         Aaron McKie      22005  ATL        0       0.000000 2005-11-08
                       1         Aaron McKie      22005  ATL        1       0.000000 2005-11-08
                   CHI 0         Aaron McKie      22005  CHI        0       5.000000 2005-11-20
                   DEN 0         Aaron McKie      22005  DEN        0       3.750000 2005-11-02
                       1         Aaron McKie      22005  DEN        1       5.000000 2005-11-06
                   HOU 0         Aaron McKie      22005  HOU        0       1.250000 2006-04-02
                   LAC 0         Aaron McKie      22005  LAC        0       5.000000 2005-11-18
                   NOK 0         Aaron McKie      22005  NOK        0      11.500000 2006-04-19
                   PHI 0         Aaron McKie      22005  PHI        0       2.750000 2005-11-11
                   POR 0         Aaron McKie      22005  POR        0       0.000000 2006-04-14
                   SAS 0         Aaron McKie      22005  SAS        0       8.500000 2005-11-29
                   SEA 0         Aaron McKie      22005  SEA        0       1.250000 2005-11-24
                   UTA 0         Aaron McKie      22005  UTA        0       3.500000 2005-12-01
Aaron Miles        ATL 0         Aaron Miles      22005  ATL        0       9.000000 2005-11-02
                   BOS 0         Aaron Miles      22005  BOS        0       2.000000 2005-12-19
                       1         Aaron Miles      22005  BOS        1       1.500000 2005-12-28
                   CHA 0         Aaron Miles      22005  CHA        0       0.000000 2005-12-02
                   CHI 0         Aaron Miles      22005  CHI        0       1.250000 2005-11-14
                   LAC 0         Aaron Miles      22005  LAC        0       2.500000 2005-11-20
                   NJN 0         Aaron Miles      22005  NJN        0       4.250000 2005-11-21
                       1         Aaron Miles      22005  NJN        1       4.625000 2005-12-18
                   NOK 0         Aaron Miles      22005  NOK        0       8.750000 2005-11-28
                   NYK 0         Aaron Miles      22005  NYK        0       0.000000 2005-11-06
                       1         Aaron Miles      22005  NYK        1       0.000000 2005-11-06
                       2         Aaron Miles      22005  NYK        2       0.000000 2005-11-11
                       3         Aaron Miles      22005  NYK        3       0.000000 2005-11-11
                   POR 0         Aaron Miles      22005  POR        0       0.000000 2005-11-18
                   SAC 0         Aaron Miles      22005  SAC        0       1.500000 2005-11-30
                   SAS 0         Aaron Miles      22005  SAS        0       8.250000 2005-11-23
                   TOR 0         Aaron Miles      22005  TOR        0       6.750000 2005-11-26
...                                      ...        ...  ...      ...            ...        ...
Zydrunas Ilgauskas NYK 1  Zydrunas Ilgauskas      22005  NYK        1      34.625000 2006-04-13
                   ORL 0  Zydrunas Ilgauskas      22005  ORL        0      26.750000 2005-11-13
                       1  Zydrunas Ilgauskas      22005  ORL        1      35.250000 2005-11-18
                       2  Zydrunas Ilgauskas      22005  ORL        2      37.583333 2006-02-21
                       3  Zydrunas Ilgauskas      22005  ORL        3      42.750000 2006-02-21
                       4  Zydrunas Ilgauskas      22005  ORL        4      34.083333 2006-03-10
                       5  Zydrunas Ilgauskas      22005  ORL        5      25.916667 2006-03-10
                   PHI 0  Zydrunas Ilgauskas      22005  PHI        0      19.250000 2005-11-19
                       1  Zydrunas Ilgauskas      22005  PHI        1      32.500000 2006-02-04
                       2  Zydrunas Ilgauskas      22005  PHI        2      35.083333 2006-02-22
                       3  Zydrunas Ilgauskas      22005  PHI        3      28.666667 2006-04-04
                   POR 0  Zydrunas Ilgauskas      22005  POR        0      35.000000 2006-01-15
                       1  Zydrunas Ilgauskas      22005  POR        1      34.875000 2006-03-17
                   SAC 0  Zydrunas Ilgauskas      22005  SAC        0      27.250000 2005-12-06
                       1  Zydrunas Ilgauskas      22005  SAC        1      30.125000 2006-03-01
                   SAS 0  Zydrunas Ilgauskas      22005  SAS        0      23.750000 2005-11-04
                       1  Zydrunas Ilgauskas      22005  SAS        1      29.000000 2006-02-13
                   SEA 0  Zydrunas Ilgauskas      22005  SEA        0      20.250000 2005-11-09
                       1  Zydrunas Ilgauskas      22005  SEA        1      19.750000 2005-12-02
                   TOR 0  Zydrunas Ilgauskas      22005  TOR        0      33.500000 2005-11-07
                       1  Zydrunas Ilgauskas      22005  TOR        1      32.625000 2006-03-07
                       2  Zydrunas Ilgauskas      22005  TOR        2      27.916667 2006-03-08
                   UTA 0  Zydrunas Ilgauskas      22005  UTA        0      33.750000 2005-12-20
                       1  Zydrunas Ilgauskas      22005  UTA        1      27.125000 2006-01-21
                   WAS 0  Zydrunas Ilgauskas      22005  WAS        0      20.250000 2005-11-15
                       1  Zydrunas Ilgauskas      22005  WAS        1      20.250000 2005-11-15
                       2  Zydrunas Ilgauskas      22005  WAS        2      20.250000 2006-02-10
                       3  Zydrunas Ilgauskas      22005  WAS        3      20.250000 2006-02-10
                       4  Zydrunas Ilgauskas      22005  WAS        4      28.250000 2006-02-24
                       5  Zydrunas Ilgauskas      22005  WAS        5      29.250000 2006-04-16

[26983 rows x 6 columns]

In [125]:
high_rollers[high_rollers.PLAYER_NAME == 'Kobe Bryant']

                   PLAYER_NAME  SEASON_ID  OPP  level_3  R_FANTASY_PTS  GAME_DATE
PLAYER_NAME OPP
Kobe Bryant ATL 0  Kobe Bryant      22005  ATL        0      51.750000 2005-11-08
                1  Kobe Bryant      22005  ATL        1      56.250000 2006-02-15
            BOS 0  Kobe Bryant      22005  BOS        0      61.000000 2006-02-26
                1  Kobe Bryant      22005  BOS        1      62.625000 2006-03-20
            CHA 0  Kobe Bryant      22005  CHA        0      43.500000 2005-12-04
                1  Kobe Bryant      22005  CHA        1      43.500000 2005-12-04
                2  Kobe Bryant      22005  CHA        2      48.750000 2006-02-03
            CHI 0  Kobe Bryant      22005  CHI        0      58.000000 2005-11-20
                1  Kobe Bryant      22005  CHI        1      52.125000 2005-12-09
            CLE 0  Kobe Bryant      22005  CLE        0      34.500000 2006-01-12
                1  Kobe Bryant      22005  CLE        1      47.250000 2006-03-19
            DAL 0  Kobe Bryant      22005  DAL        0      62.750000 2005-12-12
                1  Kobe Bryant      22005  DAL        1      70.875000 2005-12-20
                2  Kobe Bryant      22005  DAL        2      60.750000 2006-02-07
            DEN 0  Kobe Bryant      22005  DEN        0      48.250000 2005-11-02
                1  Kobe Bryant      22005  DEN        1      51.375000 2005-11-06
                2  Kobe Bryant      22005  DEN        2      52.416667 2005-11-06
                3  Kobe Bryant      22005  DEN        3      54.166667 2006-04-06
            DET 0  Kobe Bryant      22005  DET        0      53.000000 2006-01-29
                1  Kobe Bryant      22005  DET        1      52.375000 2006-03-04
            GSW 0  Kobe Bryant      22005  GSW        0      56.250000 2006-01-14
                1  Kobe Bryant      22005  GSW        1      51.250000 2006-01-27
                2  Kobe Bryant      22005  GSW        2      54.000000 2006-03-03
                3  Kobe Bryant      22005  GSW        3      51.250000 2006-04-11
            HOU 0  Kobe Bryant      22005  HOU        0      38.500000 2005-12-18
                1  Kobe Bryant      22005  HOU        1      51.375000 2006-02-08
                2  Kobe Bryant      22005  HOU        2      53.666667 2006-04-02
            IND 0  Kobe Bryant      22005  IND        0      67.000000 2006-01-09
                1  Kobe Bryant      22005  IND        1      56.375000 2006-02-01
                2  Kobe Bryant      22005  IND        2      52.833333 2006-02-01
...                        ...        ...  ...      ...            ...        ...
            PHI 0  Kobe Bryant      22005  PHI        0      39.250000 2005-11-11
                1  Kobe Bryant      22005  PHI        1      53.375000 2006-01-06
            POR 0  Kobe Bryant      22005  POR        0      56.500000 2006-01-11
                1  Kobe Bryant      22005  POR        1      55.250000 2006-02-21
                2  Kobe Bryant      22005  POR        2      54.166667 2006-03-01
                3  Kobe Bryant      22005  POR        3      58.666667 2006-04-14
            SAC 0  Kobe Bryant      22005  SAC        0      70.250000 2006-01-19
                1  Kobe Bryant      22005  SAC        1      67.125000 2006-02-23
                2  Kobe Bryant      22005  SAC        2      66.083333 2006-02-23
                3  Kobe Bryant      22005  SAC        3      60.583333 2006-03-14
                4  Kobe Bryant      22005  SAC        4      54.333333 2006-03-22
            SAS 0  Kobe Bryant      22005  SAS        0      38.500000 2005-11-29
                1  Kobe Bryant      22005  SAS        1      38.500000 2005-11-29
                2  Kobe Bryant      22005  SAS        2      44.166667 2006-03-06
                3  Kobe Bryant      22005  SAS        3      45.833333 2006-03-10
                4  Kobe Bryant      22005  SAS        4      47.500000 2006-03-10
                5  Kobe Bryant      22005  SAS        5      40.916667 2006-03-30
                6  Kobe Bryant      22005  SAS        6      38.333333 2006-03-30
            SEA 0  Kobe Bryant      22005  SEA        0      45.000000 2005-11-24
                1  Kobe Bryant      22005  SEA        1      43.125000 2006-03-12
                2  Kobe Bryant      22005  SEA        2      47.666667 2006-03-31
                3  Kobe Bryant      22005  SEA        3      51.583333 2006-03-31
            TOR 0  Kobe Bryant      22005  TOR        0      25.500000 2005-12-07
                1  Kobe Bryant      22005  TOR        1      63.500000 2006-01-22
            UTA 0  Kobe Bryant      22005  UTA        0      47.250000 2005-12-01
                1  Kobe Bryant      22005  UTA        1      47.625000 2006-02-13
                2  Kobe Bryant      22005  UTA        2      47.750000 2006-02-13
            WAS 0  Kobe Bryant      22005  WAS        0      61.500000 2005-12-16
                1  Kobe Bryant      22005  WAS        1      61.500000 2005-12-16
                2  Kobe Bryant      22005  WAS        2      54.583333 2005-12-26

[89 rows x 6 columns]

In [119]:
kobe_hold

PLAYER_NAME         OPP
Aaron McKie         ATL  0    False
                         1    False
                    CHI  0    False
                    DEN  0    False
                         1    False
                    HOU  0    False
                    LAC  0    False
                    NOK  0    False
                    PHI  0    False
                    POR  0    False
                    SAS  0    False
                    SEA  0    False
                    UTA  0    False
Aaron Miles         ATL  0    False
                    BOS  0    False
                         1    False
                    CHA  0    False
                    CHI  0    False
                    LAC  0    False
                    NJN  0    False
                         1    False
                    NOK  0    False
                    NYK  0    False
                         1    False
                         2    False
                         3    False
                    POR  0    False
                    SAC  0    False
                    SAS  0    False
                    TOR  0    False
                              ...
Zydrunas Ilgauskas  NYK  1    False
                    ORL  0    False
                         1    False
                         2    False
                         3    False
                         4    False
                         5    False
                    PHI  0    False
                         1    False
                         2    False
                         3    False
                    POR  0    False
                         1    False
                    SAC  0    False
                         1    False
                    SAS  0    False
                         1    False
                    SEA  0    False
                         1    False
                    TOR  0    False
                         1    False
                         2    False
                    UTA  0    False
                         1    False
                    WAS  0    False
                         1    False
                         2    False
                         3    False
                         4    False
                         5    False
Name: PLAYER_NAME, dtype: bool