In [1]:
#load gamelog_data
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
from pyquery import PyQuery as pq
from bs4 import BeautifulSoup
import json
import requests
import datetime

def season_subset(df, year_season_start, year_season_end = None):
    df["GAME_DATE"] = pd.to_datetime(df["GAME_DATE"])
    if year_season_end is None:
        year_season_end = year_season_start + 1
    df_gt = df[df.GAME_DATE > datetime.date(year_season_start,9,1)]
    df_lt = df_gt[df_gt.GAME_DATE < datetime.date(year_season_end,9,1)]
    return df_lt.sort_values("GAME_DATE") if not df_lt.empty else None

In [2]:
post85df = pd.read_csv('./gamelogs/master_post86df.csv')
post85df = post85df.drop('VIDEO_AVAILABLE',1)
df85_15 = season_subset(post85df,1985,2015)

by_player = df85_15.groupby("PLAYER_NAME")

In [3]:
df85_15["FANTASY_ZSCORE"] = by_player["FANTASY_PTS"].apply(lambda x: ((x - x.mean())/x.std()))
df85_15["i_ZSCORE_OVER"] = df85_15["FANTASY_ZSCORE"].map(lambda x: 1 if x > 1 else 0)
df85_15["SEASON_MIN"] = by_player['MIN'].apply(lambda x: x.map(lambda y: x.sum()))
df85_15["GAMES_PLAYED"] = by_player["PLAYER_NAME"].apply(lambda x: x.map(lambda y: len(x)))
for x in ['FG_PCT', 'FG3_PCT', 'FT_PCT']:
    df85_15[x] = df85_15[x].map(lambda y: 0 if np.isnan(y) else y)
df85_15["WL"] = [1 if v == "W" else 0 for v in df85_15.copy()["WL"]]

opp_home = df85_15.MATCHUP.map(lambda x: (x[-3:],0) if "@" in x else (x[-3:],1))
df85_15["OPP"] = opp_home.map(lambda x: x[0])
df85_15["i_HOME"] = opp_home.map(lambda x: x[1])

In [4]:
#Add player bio data for age,weight,height
player_bios_df = pd.read_csv("./player_bios/player_bios.csv")
player_bios_df = player_bios_df.rename(columns = {'PERSON_ID': 'PLAYER_ID', 'DISPLAY_FIRST_LAST': 'PLAYER_NAME'})
player_bios_df["BIRTHDATE"] = pd.to_datetime(player_bios_df["BIRTHDATE"])
player_bios_df['AGE'] = player_bios_df["BIRTHDATE"].map(lambda x: round((pd.to_datetime('today') - x).days / 365.,2))
player_bios_df["WEIGHT"] = player_bios_df["WEIGHT"].astype('str')
player_bios_df["HEIGHT"] = player_bios_df["HEIGHT"].astype('str')
player_bios_df["WEIGHT"] = player_bios_df["WEIGHT"].map(lambda x:  float(x) if x != 'nan' else 0.)
player_bios_df["HEIGHT"] = player_bios_df["HEIGHT"].map(lambda x: (12.*float(x[0]) + float(x[2:])) if x != 'nan' else 0.)

by_player = df85_15.groupby("PLAYER_NAME")

In [5]:
def get_player_bio(name, col_name):
    return float(player_bios_df[player_bios_df.PLAYER_NAME == name][col_name])

df85_15["AGE"] = by_player["PLAYER_NAME"].apply(lambda x: x.replace(x.iloc[0],get_player_bio(x.iloc[0],"AGE")))
df85_15["WEIGHT"] = by_player["PLAYER_NAME"].apply(lambda x: x.replace(x.iloc[0],get_player_bio(x.iloc[0],"WEIGHT")))
df85_15["HEIGHT"] = by_player["PLAYER_NAME"].apply(lambda x: x.replace(x.iloc[0],get_player_bio(x.iloc[0],"HEIGHT")))

In [6]:
#Integrate ELO Rankings
elo_df = pd.read_csv("./gamelogs/all_elo.csv")
elo_df["date_game"] = pd.to_datetime(elo_df["date_game"])
elo_df["game_location"] = elo_df["game_location"].map(lambda x: 1 if x == "H" else 0)
elo_df = elo_df[elo_df["is_playoffs"] == 0]

curr = elo_df.columns.tolist()
cols = [curr[i] for i in [5,8,11,13,14,17,19,21]]
elo_df = elo_df[cols]
elo_df = elo_df.rename(columns={'date_game': 'GAME_DATE',
                                'team_id':'TEAM_ABBREVIATION',
                                'opp_id':'OPP', 
                                'game_location': 'i_HOME',
                                'elo_i':'ELO',
                                'opp_elo_i': 'OPP_ELO',
                                'win_equiv': 'EXP_WINS',
                                'forecast':'FORECAST'})

df85_15 = df85_15.merge(season_subset(elo_df,1985,2015))

In [7]:
#Rearrange some columns in df85_15
curr = df85_15.columns.tolist()
cols = curr[:3] + curr[32:37] + curr[3:9] + curr[37:] + curr[9:32]
if len(curr) == len(cols):
    df85_15 = df85_15[cols]


name_pos = player_bios_df[["PLAYER_ID","POSITION","PLAYER_NAME"]]
df85_15 = df85_15.merge(name_pos)
df85_15.columns.tolist()

['SEASON_ID',
 'PLAYER_ID',
 'PLAYER_NAME',
 'SEASON_MIN',
 'GAMES_PLAYED',
 'OPP',
 'i_HOME',
 'AGE',
 'TEAM_ABBREVIATION',
 'TEAM_NAME',
 'GAME_ID',
 'GAME_DATE',
 'MATCHUP',
 'WL',
 'WEIGHT',
 'HEIGHT',
 'ELO',
 'EXP_WINS',
 'OPP_ELO',
 'FORECAST',
 'MIN',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'PLUS_MINUS',
 'FANTASY_PTS',
 'FANTASY_ZSCORE',
 'i_ZSCORE_OVER',
 'POSITION']

In [8]:
%connect_info
def calc_season_avg(df,col_list,(date_str1,date_str2)):
    date1, date2 = pd.to_datetime(date_str1), pd.to_datetime(date_str2)
    mask = lambda x: (date1 <= x) & (x <= date2)
    return df[df.GAME_DATE.apply(mask)].groupby(["PLAYER_NAME","SEASON_ID"])[col_list].mean().reset_index()

{
  "stdin_port": 58764,
  "ip": "127.0.0.1",
  "control_port": 58765,
  "hb_port": 58766,
  "signature_scheme": "hmac-sha256",
  "key": "6db17dfb-c15b-45c9-b6ff-d1ff63582ac4",
  "shell_port": 58762,
  "transport": "tcp",
  "iopub_port": 58763
}

Paste the above JSON into a file, and connect with:
    $> ipython <app> --existing <file>
or, if you are local, you can connect with just:
    $> ipython <app> --existing kernel-50b4993d-dd15-40e5-a06f-94e404f9b513.json
or even just:
    $> ipython <app> --existing
if this is the most recent IPython session you have started.

In [9]:
def ngames_colname(col_list, ngames):
    return map(lambda x: str(ngames) + 'D_' + x, col_list)

In [10]:
def last_ngames(df,ngames,game_date,col_list):
    ngames_df = df[df.GAME_DATE < game_date].nlargest(ngames, "GAME_DATE")
    ngames_col_list = ngames_colname(col_list,ngames)
    num_cols = len(ngames_col_list)
    date_player_tuples = [("GAME_DATE",game_date)]#,("PLAYER_NAME",df.PLAYER_NAME.iloc[0])]
    if ngames_df.empty:
        return dict(date_player_tuples + zip(ngames_col_list,np.array(0).repeat(num_cols)))
    else:
        return dict(date_player_tuples + zip(ngames_col_list,ngames_df[col_list].mean()))

In [11]:
def calc_ngame_avg(df,col_list,game_date_str,ngames):
    game_date = pd.to_datetime(game_date_str)
    season_id = df[df.GAME_DATE == game_date]["SEASON_ID"].iloc[0]
    return last_ngames(df[df.SEASON_ID == season_id],ngames,game_date,col_list)

In [12]:
def rolling_cols(df,col_list,ngames,rolling_kind):
    if rolling_kind == 'mean':
        rolling_func = lambda (a,b,c): pd.rolling_mean(a,b,min_periods = c)
    elif rolling_kind == 'sum':
        rolling_func = lambda (a,b,c): pd.rolling_sum(a,b,min_periods = c)
    else:
        return None 
    
    rolling_df = (df.groupby(["PLAYER_NAME","SEASON_ID"])
                    .apply(lambda x: add_game_date_pts_col(rolling_func((x[col_list],ngames,1)),x.GAME_DATE,x.FANTASY_PTS).reset_index(drop = True)))
    return rolling_df.reset_index().drop('level_2',axis = 1).rename(columns=dict(zip(col_list,map(lambda x: 'R_' + x,col_list))))

In [13]:
def add_game_date_pts_col(df,game_date_col,fantasy_pts_col):
   df["GAME_DATE"] = game_date_col
   df["FANTASY_PTS"] = fantasy_pts_col
   return df

In [14]:
def per_season_cumsum(df,col_list):
    cumsum_df = (df.groupby(["PLAYER_NAME","SEASON_ID"])
                   .apply(lambda x: add_game_date_col(x[col_list].cumsum(axis = 0), x.GAME_DATE).reset_index(drop = True)))
    return cumsum_df.reset_index().drop('level_2',axis = 1).rename(columns=dict(zip(col_list,map(lambda x: 'C_' + x,col_list))))

In [6]:
# Deprecated in most recent version #
# Don't run                         #
def get_player_seasons(player_name, season1,season2,full_df):
    player_df = (full_df[full_df.PLAYER_NAME == player_name].groupby(["PLAYER_NAME","SEASON_ID"])
                                .apply(lambda x: pd.DataFrame(map(lambda y: calc_ngame_avg(x.sort_values("GAME_DATE"),["AST","REB","PTS","OPP_ELO","TOV","STL","BLK"],y,3),x.GAME_DATE)))).reset_index().drop('level_2',axis = 1)
    player_df = pd.merge(player_df,full_df[full_df.PLAYER_NAME == player_name][["GAME_DATE","FANTASY_PTS"]])
    player_df2 = player_df.set_index('GAME_DATE')
    fantasy_resp = player_df2.groupby('SEASON_ID').apply(lambda x: x['FANTASY_PTS'].map(lambda y: 1 if y > x.FANTASY_PTS.mean() else 0)).reset_index().rename(columns={'FANTASY_PTS':'FANTASY_RESP'})
    player_df2 = pd.merge(player_df2,fantasy_resp)
    fst_season = season1 + 20000
    lst_season = season2 + 20000
    player_df_final = player_df2[(player_df2.SEASON_ID <= lst_season) & (player_df2.SEASON_ID >= fst_season)].sort_values('SEASON_ID')
    return (player_df_final, np.array(player_df_final.SEASON_ID < lst_season))

df,mask = get_player_seasons("Roy Hibbert",2010,2013,df85_15) 
df.head()
from sklearn.cross_validation import train_test_split
#train_test_split(xrange(df.shape[0]), train_size=0.7)
mask.shape,mask.sum()

dftouse = df.copy()

STANDARDIZABLE = map(lambda x: '3D_' + x,["AST","REB","PTS","OPP_ELO","TOV","STL","BLK"])
from sklearn.preprocessing import StandardScaler
for col in STANDARDIZABLE:
    print col
    valstrain=df[col].values[mask]
    valstest=df[col].values[~mask]
    scaler=StandardScaler().fit(valstrain)
    outtrain=scaler.transform(valstrain)
    outtest=scaler.fit_transform(valstest)
    out=np.empty(mask.shape[0])
    out[mask]=outtrain
    out[~mask]=outtest
    dftouse[col]=out

lcols = STANDARDIZABLE

from sklearn.svm import LinearSVC 

clfsvm = LinearSVC()
cs=[0.001, 0.01, 0.1, 1.0, 10.0, 100.0]
Xmatrix=dftouse[lcols].values
Yresp=dftouse['FANTASY_RESP'].values 
Xmatrix_train=Xmatrix[mask]
Xmatrix_test=Xmatrix[~mask]
Yresp_train=Yresp[mask]
Yresp_test=Yresp[~mask]
df[~mask].tail()

#your code here
from sklearn.grid_search import GridSearchCV
gs=GridSearchCV(clfsvm, param_grid={'C':cs}, cv=5)
gs.fit(Xmatrix_train, Yresp_train)
print "BEST", gs.best_params_, gs.best_score_, gs.grid_scores_

#calculate the accuracy here
best = gs.best_estimator_
best.fit(Xmatrix_train, Yresp_train)
best.score(Xmatrix_test, Yresp_test)

{
  "stdin_port": 53681,
  "ip": "127.0.0.1",
  "control_port": 53682,
  "hb_port": 53683,
  "signature_scheme": "hmac-sha256",
  "key": "54c0a674-703e-41c1-95de-5d688bbe7cee",
  "shell_port": 53679,
  "transport": "tcp",
  "iopub_port": 53680
}

Paste the above JSON into a file, and connect with:
    $> ipython <app> --existing <file>
or, if you are local, you can connect with just:
    $> ipython <app> --existing kernel-88c23c8f-23a3-4dba-b02e-608abcb664ae.json
or even just:
    $> ipython <app> --existing
if this is the most recent IPython session you have started.

In [15]:
df85_15

        SEASON_ID  PLAYER_ID       PLAYER_NAME  SEASON_MIN  GAMES_PLAYED  OPP  i_HOME    AGE TEAM_ABBREVIATION               TEAM_NAME   GAME_ID  GAME_DATE      MATCHUP  WL  WEIGHT  HEIGHT        ELO   EXP_WINS    OPP_ELO  FORECAST  MIN  FGM  FGA  FG_PCT  FG3M  FG3A  FG3_PCT  FTM  FTA  FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS  PLUS_MINUS  FANTASY_PTS  FANTASY_ZSCORE  i_ZSCORE_OVER POSITION
0           21985      77377  Cliff Levingston       12289           613  MIL       0  54.95               ATL           Atlanta Hawks  28500013 1985-10-26    ATL @ MIL   0     210      80  1464.5355  36.319843  1604.5205  0.200774   30    1    3   0.333     0     0    0.000    0    0   0.000     3     6    9    0    2    1    1   6    2         NaN        18.75        0.233651              0  Forward
1           21985      77377  Cliff Levingston       12289           613  NYK       1  54.95               ATL           Atlanta Hawks  28500030 1985-10-29  ATL vs. NYK   1     210      80  1457.8932  36.926842  1367.5015  0.749507   32    0    3   0.000     0     0    0.000    5    8   0.625     5     5   10    3    0    1    1   1    5         NaN        23.50        0.684053              0  Forward
2           21985      77377  Cliff Levingston       12289           613  BOS       0  54.95               ATL           Atlanta Hawks  28500045 1985-11-01    ATL @ BOS   0     210      80  1463.7467  36.750767  1646.1967  0.164391   22    4    6   0.667     0     0    0.000    3    4   0.750     2     2    4    1    0    0    0   4   11         NaN        17.50        0.115124              0  Forward
3           21985      77377  Cliff Levingston       12289           613  DEN       0  54.95               ATL           Atlanta Hawks  28500060 1985-11-05    ATL @ DEN   0     210      80  1466.6379  36.760952  1608.5680  0.198983   22    5    6   0.833     0     0    0.000    2    2   1.000     2     2    4    1    0    0    2   3   12         NaN        17.50        0.115124              0  Forward
4           21985      77377  Cliff Levingston       12289           613  LAC       0  54.95               ATL           Atlanta Hawks  28500085 1985-11-09    ATL @ LAC   1     210      80  1461.4900  37.467758  1447.4091  0.378813   28    9   14   0.643     0     0    0.000    2    3   0.667     5     6   11    1    2    1    3   4   20         NaN        39.75        2.224904              1  Forward
5           21985      77377  Cliff Levingston       12289           613  DET       1  54.95               ATL           Atlanta Hawks  28500117 1985-11-15  ATL vs. DET   1     210      80  1472.4945  38.467503  1560.0360  0.517922   34    8   13   0.615     0     0    0.000    5    8   0.625     3     7   10    1    1    2    3   1   21         NaN        39.50        2.201198              1  Forward
6           21985      77377  Cliff Levingston       12289           613  NYK       0  54.95               ATL           Atlanta Hawks  28500119 1985-11-16    ATL @ NYK   0     210      80  1478.5320  37.480686  1345.5177  0.547369   37    7   12   0.583     0     0    0.000    3    5   0.600     1     3    4    2    1    2    1   3   17         NaN        30.50        1.347804              1  Forward
7           21985      77377  Cliff Levingston       12289           613  CHI       1  54.95               ATL           Atlanta Hawks  28500141 1985-11-20  ATL vs. CHI   1     210      80  1469.0724  38.252716  1426.9819  0.693799   36    6   16   0.375     0     0    0.000    1    2   0.500     7    10   17    3    2    1    2   3   13         NaN        43.75        2.604190              1  Forward
8           21985      77377  Cliff Levingston       12289           613  CLE       0  54.95               ATL           Atlanta Hawks  28500166 1985-11-24    ATL @ CLE   0     210      80  1463.7317  36.418217  1510.2817  0.300775   36    6   13   0.462     0     0    0.000    5    8   0.625     5     6   11    3    3    1    4   4   17         NaN        41.25        2.367136              1  Forward
9           21985      77377  Cliff Levingston       12289           613  NYK       1  54.95               ATL           Atlanta Hawks  28500175 1985-11-26  ATL vs. NYK   1     210      80  1458.8431  36.849419  1352.2932  0.766562   24    5    7   0.714     0     0    0.000    2    2   1.000     3     4    7    1    0    0    1   6   12         NaN        21.75        0.518116              0  Forward
10          21985      77377  Cliff Levingston       12289           613  MIL       0  54.95               ATL           Atlanta Hawks  28500180 1985-11-27    ATL @ MIL   0     210      80  1463.0011  36.482605  1671.5774  0.144760   22    1    5   0.200     0     0    0.000    1    2   0.500     3     1    4    0    0    1    3   3    3         NaN         8.50       -0.738270              0  Forward
11          21985      77377  Cliff Levingston       12289           613  NJN       0  54.95               ATL           Atlanta Hawks  28500195 1985-11-29    ATL @ NJN   0     210      80  1459.4646  35.918243  1511.0573  0.294706   15    0    1   0.000     0     0    0.000    0    0   0.000     0     1    1    0    1    0    2   3    0         NaN         2.25       -1.330905              0  Forward
12          21985      77377  Cliff Levingston       12289           613  BOS       1  54.95               ATL           Atlanta Hawks  28500200 1985-11-30  ATL vs. BOS   0     210      80  1454.0095  35.516018  1694.4857  0.308179   35    4    8   0.500     0     0    0.000    4    4   1.000     2     3    5    1    0    0    0   0   12         NaN        19.75        0.328472              0  Forward
13          21985      77377  Cliff Levingston       12289           613  POR       1  54.95               ATL           Atlanta Hawks  28500227 1985-12-04  ATL vs. POR   1     210      80  1450.1102  36.558235  1526.7601  0.533553   23    6    9   0.667     0     0    0.000    1    2   0.500     4     3    7    0    1    0    6   4   13         NaN        20.75        0.423294              0  Forward
14          21985      77377  Cliff Levingston       12289           613  MIL       1  54.95               ATL           Atlanta Hawks  28500236 1985-12-06  ATL vs. MIL   1     210      80  1460.1943  37.149616  1664.5483  0.354181   27    2    7   0.286     0     0    0.000    1    1   1.000     1     3    4    2    0    0    3   3    5         NaN        11.50       -0.453806              0  Forward
15          21985      77377  Cliff Levingston       12289           613  BOS       0  54.95               ATL           Atlanta Hawks  28500258 1985-12-10    ATL @ BOS   0     210      80  1465.8905  37.003143  1681.8499  0.139577   26    3    3   1.000     0     0    0.000    1    2   0.500     1     3    4    1    0    0    3   3    7         NaN        12.00       -0.406395              0  Forward
16          21985      77377  Cliff Levingston       12289           613  SEA       1  54.95               ATL           Atlanta Hawks  28500264 1985-12-11  ATL vs. SEA   1     210      80  1464.4812  37.666733  1476.4384  0.624060   27    2    2   1.000     0     0    0.000    0    0   0.000     0     5    5    0    1    0    3   5    4         NaN        10.75       -0.524922              0  Forward
17          21985      77377  Cliff Levingston       12289           613  IND       0  54.95               ATL           Atlanta Hawks  28500274 1985-12-13    ATL @ IND   0     210      80  1470.8585  36.006027  1377.2153  0.490853   25    6    7   0.857     0     0    0.000    1    2   0.500     3     3    6    3    1    0    2   3   13         NaN        26.00        0.921107              0  Forward
18          21985      77377  Cliff Levingston       12289           613  NJN       1  54.95               ATL           Atlanta Hawks  28500298 1985-12-17  ATL vs. NJN   1     210      80  1461.7898  37.082161  1520.6438  0.558939   22    3    6   0.500     0     0    0.000    0    1   0.000     2     3    5    0    1    0    1   2    6         NaN        13.75       -0.240457              0  Forward
19          21985      77377  Cliff Levingston       12289           613  DAL       1  54.95               ATL           Atlanta Hawks  28500307 1985-12-19  ATL vs. DAL   0     210      80  1465.2416  35.669289  1519.8289  0.564985   33    5    7   0.714     0     0    0.000    1    2   0.500     4     6   10    1    3    1    1   4   11         NaN        32.50        1.537447              1  Forward
20          21985      77377  Cliff Levingston       12289           613  HOU       1  54.95               ATL           Atlanta Hawks  28500322 1985-12-21  ATL vs. HOU   1     210      80  1451.5973  36.069744  1540.4983  0.515967   23    3    8   0.375     0     0    0.000    1    5   0.200     4     2    6    1    1    1    0   4    7         NaN        20.00        0.352178              0  Forward
21          21985      77377  Cliff Levingston       12289           613  DET       1  54.95               ATL           Atlanta Hawks  28500371 1986-01-03  ATL vs. DET   1     210      80  1473.0920  38.614124  1470.6566  0.643288   15    4    9   0.444     0     0    0.000    0    0   0.000     4     5    9    0    0    1    1   3    8         NaN        20.75        0.423294              0  Forward
22          21985      77377  Cliff Levingston       12289           613  CHI       0  54.95               ATL           Atlanta Hawks  28500382 1986-01-04    ATL @ CHI   1     210      80  1479.9348  40.025520  1438.4425  0.416588   12    1    5   0.200     0     0    0.000    0    0   0.000     0     5    5    0    1    0    0   5    2         NaN        10.25       -0.572332              0  Forward
23          21985      77377  Cliff Levingston       12289           613  LAC       1  54.95               ATL           Atlanta Hawks  28500393 1986-01-07  ATL vs. LAC   1     210      80  1493.4141  40.401913  1318.2838  0.829739   22    2    3   0.667     0     0    0.000    2    3   0.667     1     5    6    0    0    1    2   5    6         NaN        14.50       -0.169341              0  Forward
24          21985      77377  Cliff Levingston       12289           613  DET       0  54.95               ATL           Atlanta Hawks  28500403 1986-01-09    ATL @ DET   1     210      80  1497.0037  41.894672  1472.6433  0.392834   20    2    6   0.333     0     0    0.000    2    2   1.000     2     5    7    1    0    0    1   2    6         NaN        15.75       -0.050814              0  Forward
25          21985      77377  Cliff Levingston       12289           613  BOS       0  54.95               ATL           Atlanta Hawks  28500407 1986-01-10    ATL @ BOS   0     210      80  1511.2363  41.615742  1663.1719  0.189962   11    1    2   0.500     0     0    0.000    0    0   0.000     0     4    4    0    0    0    2   3    2         NaN         6.00       -0.975324              0  Forward
26          21985      77377  Cliff Levingston       12289           613  SAC       1  54.95               ATL           Atlanta Hawks  28500432 1986-01-14  ATL vs. SAC   1     210      80  1508.5763  42.102726  1412.1620  0.755959   19    6    9   0.667     0     0    0.000    0    2   0.000     2     2    4    1    1    0    1   0   12         NaN        20.00        0.352178              0  Forward
27          21985      77377  Cliff Levingston       12289           613  CLE       1  54.95               ATL           Atlanta Hawks  28500443 1986-01-16  ATL vs. CLE   1     210      80  1513.2209  43.009087  1486.5156  0.674668   12    0    4   0.000     0     0    0.000    3    6   0.500     0     5    5    0    0    0    0   3    3         NaN         9.25       -0.667154              0  Forward
28          21985      77377  Cliff Levingston       12289           613  BOS       1  54.95               ATL           Atlanta Hawks  28500453 1986-01-18  ATL vs. BOS   0     210      80  1521.8744  42.541195  1679.3295  0.418061   21    6    7   0.857     0     0    0.000    3    3   1.000     2     3    5    0    1    3    1   4   15         NaN        28.75        1.181867              1  Forward
29          21985      77377  Cliff Levingston       12289           613  MIL       1  54.95               ATL           Atlanta Hawks  28500468 1986-01-20  ATL vs. MIL   1     210      80  1517.4054  43.197701  1649.7479  0.453589   25    3    9   0.333     0     0    0.000    5    6   0.833     2     5    7    0    0    0    2   2   11         NaN        18.75        0.233651              0  Forward
...           ...        ...               ...         ...           ...  ...     ...    ...               ...                     ...       ...        ...          ...  ..     ...     ...        ...        ...        ...       ...  ...  ...  ...     ...   ...   ...      ...  ...  ...     ...   ...   ...  ...  ...  ...  ...  ...  ..  ...         ...          ...             ...            ...      ...
550679      22014     204022       Jack Cooley          86            16  HOU       0  24.68               UTA               Utah Jazz  21401219 2015-04-15    UTA @ HOU   0     246      81  1565.0206  46.293358  1629.6312  0.279373   17    3    7   0.429     0     0    0.000    2    5   0.400     3     3    6    0    1    1    0   4    8           9        19.50        3.145272              1  Forward
550680      22014     203968  Jerrelle Benimon           2             2  NYK       1  24.36               UTA               Utah Jazz  21400950 2015-03-10  UTA vs. NYK   1       0       0  1529.4113  43.731186  1266.7943  0.889672    2    0    0   0.000     0     0    0.000    0    0   0.000     1     2    3    0    0    0    1   0    0           6         3.25        0.707107              0      NaN
550681      22014     203968  Jerrelle Benimon           2             2  HOU       1  24.36               UTA               Utah Jazz  21400965 2015-03-12  UTA vs. HOU   1       0       0  1530.6149  45.234890  1616.3575  0.520506    0    0    0   0.000     0     0    0.000    0    0   0.000     0     0    0    0    0    0    0   0    0           0         0.00       -0.707107              0      NaN
550682      22014     203913      Jabari Brown         567            19  NYK       1  22.97               LAL      Los Angeles Lakers  21400966 2015-03-12  LAL vs. NYK   0     214      77  1353.6084  24.588230  1265.5907  0.746932   18    3    6   0.500     0     2    0.000    1    4   0.250     0     2    2    1    0    0    1   1    7          -2        10.50       -0.800861              0    Guard
550683      22014     203913      Jabari Brown         567            19  ATL       1  22.97               LAL      Los Angeles Lakers  21400989 2015-03-15  LAL vs. ATL   0     214      77  1338.8159  24.348671  1651.8879  0.226787   22    4    5   0.800     1     2    0.500    0    0   0.000     0     1    1    0    2    0    1   2    9           6        14.25       -0.435083              0    Guard
550684      22014     203913      Jabari Brown         567            19  GSW       0  22.97               LAL      Los Angeles Lakers  21400999 2015-03-16    LAL @ GSW   0     214      77  1336.0887  24.308487  1723.3567  0.057058   20    2    4   0.500     0     1    0.000    1    1   1.000     0     0    0    1    1    0    2   0    5          -8         7.50       -1.093484              0    Guard
550685      22014     203913      Jabari Brown         567            19  UTA       1  22.97               LAL      Los Angeles Lakers  21401019 2015-03-19  LAL vs. UTA   0     214      77  1335.6298  23.845245  1547.2756  0.344640   20    2    4   0.500     2     2    1.000    1    2   0.500     0     2    2    1    1    0    2   2    7          -4        13.00       -0.557009              0    Guard
550686      22014     203913      Jabari Brown         567            19  PHI       1  22.97               LAL      Los Angeles Lakers  21401047 2015-03-22  LAL vs. PHI   1     214      77  1330.3065  24.541954  1314.4166  0.660857   24    2    6   0.333     1     2    0.500    5    6   0.833     1     0    1    4    0    1    1   1   10           7        19.25        0.052621              0    Guard
550687      22014     203913      Jabari Brown         567            19  OKC       0  22.97               LAL      Los Angeles Lakers  21401056 2015-03-24    LAL @ OKC   0     214      77  1338.2903  24.406441  1625.2217  0.097321   27    3    6   0.500     0     1    0.000    1    1   1.000     0     0    0    1    0    0    0   1    7           4         8.50       -0.995943              0    Guard
550688      22014     203913      Jabari Brown         567            19  MIN       0  22.97               LAL      Los Angeles Lakers  21401067 2015-03-25    LAL @ MIN   1     214      77  1336.7478  25.005156  1339.5403  0.356240   32    3    4   0.750     3     3    1.000    0    0   0.000     0     4    4    3    1    0    1   1    9         -10        21.50        0.272087              0    Guard
550689      22014     203913      Jabari Brown         567            19  TOR       0  22.97               LAL      Los Angeles Lakers  21401080 2015-03-27    LAL @ TOR   0     214      77  1343.5264  24.733370  1519.1178  0.169887   16    2    5   0.400     0     2    0.000    3    4   0.750     0     1    1    0    0    0    3   0    7          -8         6.75       -1.166639              0    Guard
550690      22014     203913      Jabari Brown         567            19  PHI       0  22.97               LAL      Los Angeles Lakers  21401102 2015-03-30    LAL @ PHI   1     214      77  1337.1229  25.010454  1323.9053  0.377644   34    7   10   0.700     3     4    0.750    5    5   1.000     0     0    0    3    1    0    1   2   22           9        29.50        1.052414              1    Guard
550691      22014     203913      Jabari Brown         567            19  NOP       1  22.97               LAL      Los Angeles Lakers  21401123 2015-04-01  LAL vs. NOP   0     214      77  1343.5859  23.854563  1507.8358  0.408577   30    2    8   0.250     1     2    0.500    1    2   0.500     1     0    1    1    0    0    1   1    6         -12         8.75       -0.971558              0    Guard
550692      22014     203913      Jabari Brown         567            19  POR       1  22.97               LAL      Los Angeles Lakers  21401136 2015-04-03  LAL vs. POR   0     214      77  1330.4142  23.002464  1611.6093  0.260563   30    2    9   0.222     1     3    0.333    6    9   0.667     0     3    3    0    0    0    1   2   11         -33        14.75       -0.386313              0    Guard
550693      22014     203913      Jabari Brown         567            19  LAC       1  22.97               LAL      Los Angeles Lakers  21401153 2015-04-05  LAL vs. LAC   0     214      77  1320.4623  22.491585  1687.1991  0.177196   31    4    9   0.444     1     4    0.250    1    2   0.500     0     1    1    1    0    0    2   2   10         -21        12.25       -0.630165              0    Guard
550694      22014     203913      Jabari Brown         567            19  LAC       0  22.97               LAL      Los Angeles Lakers  21401159 2015-04-07    LAL @ LAC   0     214      77  1314.3878  22.440868  1693.2736  0.059710   24    2    5   0.400     1     3    0.333    2    4   0.500     0     2    2    3    0    0    4   3    7          -1        12.50       -0.605780              0    Guard
550695      22014     203913      Jabari Brown         567            19  DEN       0  22.97               LAL      Los Angeles Lakers  21401169 2015-04-08    LAL @ DEN   0     214      77  1313.7802  21.921890  1415.0565  0.238914   34    3   12   0.250     1     4    0.250    4    5   0.800     1     3    4    0    0    0    1   1   11         -25        16.00       -0.264387              0    Guard